<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: (isVisible()) -->
<div class="method-review">
    <div class="method-review-title">
        <span data-bind="i18n: 'Shipping method & Payment'"></span>
    </div>
    <div class="method-review-content">
        <!-- ko if: (!quoteIsVirtual) -->
        <div class="method-shipping">
            <p class="title" data-bind="i18n: 'Shipping method'"></p>
            <span class="value" data-bind="text: getShippingMethodTitle()"></span>
            <a href="#" class="shipping-method-edit" data-bind="click: back, i18n: 'edit shipping method'"></a>
        </div>
        <!--/ko-->
        <div class="method-payment">
            <p class="title" data-bind="i18n: 'Payment method'"></p>
            <span class="value" data-bind="text: getPaymentMethodTitle()"></span>
            <a href="#" class="payment-method-edit" data-bind="click: back, i18n: 'edit payment method'"></a>
        </div>
    </div>
</div>
<!--/ko-->
