<textarea style="display: none;" name="mapping[import_input_template]" id="mapping" value="<?php echo htmlspecialchars($block->getMapping());?>"  data-form-part="profilers_form" class="admin__control-text"/>
<div id="editorMapping"><?php echo htmlspecialchars($block->getMapping());?></div>

<script>
    var editor = ace.edit("editorMapping");
	var textarea = jQuery('#mapping').hide();
	
	editor.getSession().on('change', function(){
	  textarea.val(editor.getSession().getValue());
	});
	textarea.val(editor.getSession().getValue());
	editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/xml");
</script>



<div style="margin: 15px;">
    <label><?php echo __("Give us a path of a check file from Var folder: ");?></label><br>
    <input id="check_file_path" style="width: 500px;"></input>
    <button type="button" class="show-fields-available action- scalable primary" onclick="checkImportFile()"><span><?php echo (__('Check File Structure')); ?></span></button>
   
    
    
</div>



<?php 
    $profiler = $this->getProfiler();
    $ediCheckingUrl =  $block->getUrl("profilers/import_file/check", array('profiler_id' => $profiler->getId()));
    $importTestingUrl =  $block->getUrl("profilers/import/test", array('profiler_id' => $profiler->getId()));
?>
<script>
    
    var Base64 = {

        // private property
        _keyStr : "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",

        // public method for encoding
        encode : function (input) {
            var output = "";
            var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
            var i = 0;

            input = Base64._utf8_encode(input);

            while (i < input.length) {

                chr1 = input.charCodeAt(i++);
                chr2 = input.charCodeAt(i++);
                chr3 = input.charCodeAt(i++);

                enc1 = chr1 >> 2;
                enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
                enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
                enc4 = chr3 & 63;

                if (isNaN(chr2)) {
                    enc3 = enc4 = 64;
                } else if (isNaN(chr3)) {
                    enc4 = 64;
                }

                output = output +
                this._keyStr.charAt(enc1) + this._keyStr.charAt(enc2) +
                this._keyStr.charAt(enc3) + this._keyStr.charAt(enc4);

            }

            return output;
        },

        // public method for decoding
        decode : function (input) {
            var output = "";
            var chr1, chr2, chr3;
            var enc1, enc2, enc3, enc4;
            var i = 0;

            input = input.replace(/[^A-Za-z0-9\+\/\=]/g, "");

            while (i < input.length) {

                enc1 = this._keyStr.indexOf(input.charAt(i++));
                enc2 = this._keyStr.indexOf(input.charAt(i++));
                enc3 = this._keyStr.indexOf(input.charAt(i++));
                enc4 = this._keyStr.indexOf(input.charAt(i++));

                chr1 = (enc1 << 2) | (enc2 >> 4);
                chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
                chr3 = ((enc3 & 3) << 6) | enc4;

                output = output + String.fromCharCode(chr1);

                if (enc3 != 64) {
                    output = output + String.fromCharCode(chr2);
                }
                if (enc4 != 64) {
                    output = output + String.fromCharCode(chr3);
                }

            }

            output = Base64._utf8_decode(output);

            return output;

        },

        // private method for UTF-8 encoding
        _utf8_encode : function (string) {
            string = string.replace(/\r\n/g,"\n");
            var utftext = "";

            for (var n = 0; n < string.length; n++) {

                var c = string.charCodeAt(n);

                if (c < 128) {
                    utftext += String.fromCharCode(c);
                }
                else if((c > 127) && (c < 2048)) {
                    utftext += String.fromCharCode((c >> 6) | 192);
                    utftext += String.fromCharCode((c & 63) | 128);
                }
                else {
                    utftext += String.fromCharCode((c >> 12) | 224);
                    utftext += String.fromCharCode(((c >> 6) & 63) | 128);
                    utftext += String.fromCharCode((c & 63) | 128);
                }

            }

            return utftext;
        },

        // private method for UTF-8 decoding
        _utf8_decode : function (utftext) {
            var string = "";
            var i = 0;
            var c = c1 = c2 = 0;

            while ( i < utftext.length ) {

                c = utftext.charCodeAt(i);

                if (c < 128) {
                    string += String.fromCharCode(c);
                    i++;
                }
                else if((c > 191) && (c < 224)) {
                    c2 = utftext.charCodeAt(i+1);
                    string += String.fromCharCode(((c & 31) << 6) | (c2 & 63));
                    i += 2;
                }
                else {
                    c2 = utftext.charCodeAt(i+1);
                    c3 = utftext.charCodeAt(i+2);
                    string += String.fromCharCode(((c & 15) << 12) | ((c2 & 63) << 6) | (c3 & 63));
                    i += 3;
                }

            }

            return string;
        }

    }

    function checkImportFile() {
        
        var FDI_CHECK_URL = '<?php echo $ediCheckingUrl ?>file_path/' + encodeURIComponent(Base64.encode(document.getElementById('check_file_path').value));
        
        window.open(FDI_CHECK_URL, "Review Available Attributes", "width=600,height=800,left=-1840,top=0");
        
        
    }
</script>


<div style="margin: 20px 0;">
    <label><?php echo __("You can test xslt template here: ");?></label><br>
        <button type="button" class="show-fields-available action- scalable primary" onclick="testImportXslTemplate()"><span><?php echo (__('Test Template')); ?></span></button>
 
    <textarea name="testxsltemplate" id="test-xsl-template" value class="admin__control-text"/>
</div>

<div id="editorResult" style="height: 300px; width:  100%"></div>
<script>
    var resultEditor = ace.edit("editorResult");
    
    resultEditor.setTheme("ace/theme/monokai");
    resultEditor.session.setMode("ace/mode/xml");
    
    var textareaResult = jQuery('#test-xsl-template').hide();
    resultEditor.getSession().on('change', function () {
        textareaResult.val(resultEditor.getSession().getValue());
    });
    
function testImportXslTemplate() {
        //var textarea = jQuery('textarea[name="mapping[mapping]"]')
        var dataInTextarea = jQuery('#mapping').val();
        console.log(jQuery('#mapping').val());
        var filePath = document.getElementById('check_file_path').value;
        
        jQuery.ajax(
            '<?php echo $importTestingUrl;?>',
            {
                type: 'post',
                data: {xslt_template: dataInTextarea, file_path : filePath},
                showLoader: true,
                success: function (response) {
                    
                    jQuery('#editorResult').css({'height': '300px','margin': '20px 0'});
                    if(response == false){
                        resultEditor.getSession().setValue('Do not find anything for this ID.');
                    }else{
                        resultEditor.getSession().setValue(response);
                    }
                    
                }
        });
    }
</script>