<?php
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 */

/**
 * @category   Magenerds
 * @package    Magenerds_BasePrice
 * @subpackage view
 * @author     Florian Sydekum <f.sydekum@techdivision.com>
 * @copyright  Copyright (c) 2017 TechDivision GmbH (http://www.techdivision.com)
 * @link       http://www.techdivision.com/
 */

/**
 * @var $block \Magenerds\BasePrice\Block\AfterPrice
 */
$taxBlock= $block->getLayout()->createBlock('Commercers\PriceTax\Block\Price\Tax');
$_product = $block->getProduct();
$taxPercent = $taxBlock->getTaxPercent($_product);
$shippingTime = $_product->getDeliveryTime();
?>
<div class="product-additional-info">
    <?php if($this->getDeposit()): ?>
        <?= $this->getDeposit(); ?>
    <?php endif;?>
    <?php if ($block->isEnabled()): ?>
        <div class="baseprice">
            <span><?= __('equals: ')?></span><?php echo $block->getBasePrice() ?>
        </div>
        <script type="text/javascript">
            require(['jquery', 'jquery/ui', 'domReady!'], function($) {
                $('body').on('updatePrice', function (e, data) {

                    var swatchWidget = $('.swatch-opt').data('mage-SwatchRenderer');
                    if(swatchWidget) {
                        var options = _.object(_.keys(swatchWidget.optionsMap), {});

                        swatchWidget.element.find('.' + swatchWidget.options.classes.attributeClass + '[option-selected]').each(function () {
                            options[$(this).attr('attribute-id')] = $(this).attr('option-selected');
                        });
                        result = swatchWidget.options.jsonConfig.optionPrices[_.findKey(swatchWidget.options.jsonConfig.index, options)];
                    } else {
                        var configurableWidget = $('#product_addtocart_form').data('mage-configurable');

                        var options = {};

                        configurableWidget.element.find(configurableWidget.options.superSelector + ' option:selected').each(function () {
                            if($(this).val()) {
                                options[Number($(this).parent().prop('id').replace('attribute', ''))] = $(this).val();
                            }

                        });

                        var config = configurableWidget.option('spConfig');
                        result = config.optionPrices[_.findKey(config.index, options)];
                    }

                    var basePriceField = $('.product-info-price .baseprice');
                    if (typeof result != 'undefined' && result.magenerds_baseprice_text.length && basePriceField.length) {
                        basePriceField.html(result.magenerds_baseprice_text);
                    }
                });
            });
        </script>
    <?php endif; ?>
    <span class="tax-details">
        <span class="tax-text">
            <?= __('incl. %1% tax, excl. <a target="_blank" href="/shipping">shipping cost</a>*', $taxPercent) ?>
        </span>
    </span>
    <span class="tax-ship">
        <span class="delivery-time">
        <?php if(!$shippingTime): ?>
            <?= __('Delivery Time: 2 – 3 Days*'); ?>
        <?php else:?>
            <?= __('Delivery Time: %1',$shippingTime);?>
        <?php endif;?>
        </span>
    </span>
</div>
