<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->

<!-- End Content -->
</td>
</tr>
<!--<tr>-->
<!--<td class="footer">-->
<!--<p class="closing">{{trans "Thank you, %store_name" store_name=$store.getFrontendName()}}!</p>-->
<!--</td>-->
<!--</tr>-->
<tr>
    <td>
        <table cellpadding="0" cellspacing="0" border="0" class="footer-container">
            <tr>
                <td>

                    <p>{{trans "join us at the"}} <a href="{{store url=""}}">{{trans "fritz-kola shop"}}</a></p>
                </td>
                <td class="social-buttons">
                    <a title="Facebook" href="https://www.facebook.com/fritzkola/?fref=ts" target="_blank">
                        <img src="{{view url="images/icons-email/icon_fb.png"}}" alt="">
                    </a>
                    <a title="Instagram" href="https://www.instagram.com/fritzkola/" target="_blank">
                        <img src="{{view url="images/icons-email/icon_ins.png"}}" alt="">
                    </a>
                    <a title="Twitter" href="https://twitter.com/fritzkola" target="_blank">
                        <img src="{{view url="images/icons-email/icon_twitter.png"}}" alt="">
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!--<tr>-->
<!--    <td>-->
<!--        <table cellpadding="0" cellspacing="0" border="0" class="general-terms">-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <div class="footer-top">-->
<!--                        {{layout handle="email_footer_agb"}}-->
<!--                    </div>-->
<!--                    <div class="footer-bottom">-->
<!--                        {{layout handle="email_footer_revocation"}}-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </td>-->
<!--</tr>-->

</table>
</td>
</tr>
</table>
<!-- End wrapper table -->
</body>
