.catalog-product-view{
    .product-information-label{
        border-top: 1px solid #979797;
        margin-top: 20px;
        padding-top: 10px;
        &.drinks{
            border-top: none !important;
        }
    }
}
