<li id="shipping" class="checkout-shipping-address" data-bind="fadeVisible: visible()">
    <div id="checkout-step-shipping"
         class="step-content"
         data-role="content">
        <!-- ko if: (!isCustomerLoggedIn()) -->
        <div class="login-form">
            <div class="step-title" data-bind="i18n: 'I am already registered'" data-role="title"></div>
            <!-- ko foreach: getRegion('authentication') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <!--/ko-->
        <div class="address-fields">
            <!-- ko if: (!isCustomerLoggedIn()) -->
            <div class="step-title" data-bind="i18n: 'Proceed as new customer'" data-role="title"></div>
            <!--/ko-->
            <!-- ko if: (!quoteIsVirtual) -->
            <!-- ko foreach: getRegion('address-list') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->

            <!-- ko foreach: getRegion('address-list-additional-addresses') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->

            <!-- ko foreach: getRegion('before-form') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->

            <!-- ko if: (!isFormInline) -->
            <div id="opc-new-shipping-address" data-bind="visible: isFormPopUpVisible()">
                <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
            </div>
            <!-- /ko -->

            <!-- ko if: (isFormInline) -->
            <!-- ko template: 'Magento_Checkout/shipping-address/form' --><!-- /ko -->
            <!-- /ko -->

            <!-- ko foreach: getRegion('customer-email') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->

            <div class="register-account">
                <!-- ko foreach: getRegion('register-account') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            <!--/ko-->

            <!-- Inline Billing address form -->
            <!-- ko foreach: getRegion('billing-address') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <!-- ko if: (quoteIsVirtual) -->
            <!-- ko foreach: getRegion('customer-email') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <div class="register-account">
                <!-- ko foreach: getRegion('register-account') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            <!--/ko-->

            <!-- ko if: (!quoteIsVirtual) -->
            <form class="form methods-shipping" data-bind="submit: setShippingInformation" novalidate="novalidate">
                <div class="actions-toolbar" id="shipping-method-buttons-container">
                    <div class="primary">
                        <button data-role="opc-continue" type="submit" class="button action continue primary" >
                            <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                        </button>
                    </div>
                </div>
            </form>
            <!--/ko-->
            <!-- ko if: (quoteIsVirtual) -->
            <form class="form methods-shipping" data-bind="submit: setBillingInformation" novalidate="novalidate">
                <div class="actions-toolbar">
                    <div class="primary">
                        <button data-role="opc-continue" type="submit" class="button action continue primary" >
                            <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                        </button>
                    </div>
                </div>
            </form>
            <!--/ko-->
        </div>
    </div>
</li>
