<div class="checkout-billing-address">

    <div class="billing-address-same-as-shipping-block field choice" data-bind="visible: canUseShippingAddress()">
        <input type="checkbox" name="billing-address-same-as-shipping"
               data-bind="checked: isAddressSameAsShipping, click: useShippingAddress, attr: {id: 'billing-address-same-as-shipping'}"/>
        <label class="label" data-bind="attr: {for: 'billing-address-same-as-shipping'}">
            <span data-bind="i18n: 'My billing and shipping address are the same'"></span>
        </label>
    </div>
    <fieldset class="fieldset">
        <!-- ko if: (isAddressFormListVisible)-->
        <div class="step-title" data-bind="i18n: 'Billing Address'" data-role="title"></div>
        <!-- /ko -->
        <!-- ko template: 'Commercers_OnepageCheckout/billing-address/list' --><!-- /ko -->
        <!-- ko template: 'Commercers_OnepageCheckout/billing-address/form' --><!-- /ko -->
    </fieldset>
</div>
