<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li id="payment" role="presentation" class="checkout-payment-method" data-bind="fadeVisible: isVisible">

    <div id="checkout-step-shipping-methods">
        <!-- ko if: (!quoteIsVirtual) -->
        <div class="step-title" data-bind="i18n: 'Shipping Methods'" data-role="title"></div>
        <!--Shipping method template-->
        <div class="checkout-shipping-method">
            <!-- ko foreach: getRegion('before-shipping-method-form') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <div id="checkout-step-shipping_method"
                 class="step-content"
                 data-role="content"
                 role="tabpanel"
                 aria-hidden="false">
                <!-- ko if: rates().length  -->
                <form class="form methods-shipping" id="co-shipping-method-form" novalidate="novalidate">
                    <div id="checkout-shipping-method-load">
                        <table class="table-checkout-shipping-method">
                            <thead>
                            <tr class="row">
                                <th class="col col-method" data-bind="i18n: 'Select Method'"></th>
                                <th class="col col-price" data-bind="i18n: 'Price'"></th>
                                <th class="col col-method" data-bind="i18n: 'Method Title'"></th>
                                <th class="col col-carrier" data-bind="i18n: 'Carrier Title'"></th>
                            </tr>
                            </thead>
                            <tbody>

                            <!--ko foreach: { data: rates(), as: 'method'}-->
                            <tr class="row" data-bind="click: $parent.selectShippingMethod">
                                <td class="col col-method">
                                    <!-- ko ifnot: method.error_message -->
                                        <!-- ko if: $parent.rates().length == 1 -->
                                        <input name="shipping_method"
                                               class="radio"
                                               type="radio"
                                               data-bind="attr: {
                                                        checked: $parent.rates().length == 1,
                                                        'value' : method.carrier_code + '_' + method.method_code,
                                                        'id': 's_method_' + method.method_code,
                                                        'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                     }" />
                                        <label data-bind="attr: {for: 's_method_' + method.method_code}"></label>
                                        <!-- /ko -->
                                        <!--ko ifnot: ($parent.rates().length == 1)-->
                                        <input name="shipping_method" type="radio"
                                               data-bind="
                                                    value: method.carrier_code + '_' + method.method_code,
                                                    checked: $parent.isSelected,
                                                    attr: {
                                                        'id': 's_method_' + method.carrier_code + '_' + method.method_code,
                                                        'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code
                                                    }"
                                               class="radio"/>
                                        <label data-bind="attr: {for: 's_method_' + method.carrier_code + '_' + method.method_code}"></label>
                                        <!--/ko-->
                                    <!-- /ko -->
                                </td>
                                <td class="col col-price">
                                    <!-- ko ifnot: method.error_message -->
                                        <!-- ko foreach: $parent.getRegion('price') -->
                                        <!-- ko template: getTemplate() --><!-- /ko -->
                                        <!-- /ko -->
                                    <!-- /ko -->
                                </td>

                                <td class="col col-method"
                                    data-bind="text: method.method_title, attr: {'id': 'label_method_' + method.method_code + '_' + method.carrier_code}"></td>

                                <td class="col col-carrier"
                                    data-bind="text: method.carrier_title, attr: {'id': 'label_carrier_' + method.method_code + '_' + method.carrier_code}"></td>
                            </tr>

                            <!-- ko if:  method.extension_attributes -->
                            <!-- ko if:  !method.comment && method.extension_attributes.amstorepick_comment -->
                            <tr class="row">
                                <td class="col" colspan="4"
                                    data-bind="html: method.extension_attributes.amstorepick_comment">
                                </td>
                            </tr>
                            <!-- /ko -->

                            <!-- ko if: !method.comment && method.extension_attributes.amstartes_comment -->
                            <tr class="row">
                                <td class="col" colspan="4"
                                    data-bind="html: method.extension_attributes.amstartes_comment">
                                </td>
                            </tr>
                            <!-- /ko -->

                            <!-- ko ifnot: !method.comment && method.extension_attributes.amstorepick_comment && method.extension_attributes.amstartes_comment -->
                            <tr class="row">
                                <td class="col" colspan="4"
                                    data-bind="html: method.comment">
                                </td>
                            </tr>
                            <!-- /ko -->
                            <!-- /ko -->

                            <!-- ko if:  method.error_message -->
                            <tr class="row row-error">
                                <td class="col col-error" colspan="4">
                                    <div class="message error">
                                        <div data-bind="text: method.error_message"></div>
                                    </div>
                                    <span class="no-display">
                                    <input name="shipping_method" type="radio" data-bind="attr: {'value' : method.method_code, 'id': 's_method_' + method.method_code}"/>
                                </span>
                                </td>
                            </tr>
                            <!-- /ko -->

                            <!-- /ko -->
                            </tbody>
                        </table>
                    </div>

                    <div id="onepage-checkout-shipping-method-additional-load">
                        <!-- ko foreach: getRegion('shippingAdditional') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        <!-- /ko -->
                    </div>
                    <!-- ko if: errorValidationMessage().length > 0 -->
                    <div class="message notice">
                        <span><!-- ko text: errorValidationMessage()--><!-- /ko --></span>
                    </div>
                    <!-- /ko -->
                </form>
                <!-- /ko -->
                <!-- ko ifnot: rates().length > 0 --><div class="no-quotes-block"><!-- ko i18n: 'Sorry, no quotes are available for this order at this time'--><!-- /ko --></div><!-- /ko -->
            </div>
        </div>
        <!--/ko-->
    </div>

    <div id="checkout-step-payment"
         class="step-content"
         data-role="content"
         role="tabpanel"
         aria-hidden="false">
        <!-- ko if: (quoteIsVirtual) -->
            <!-- ko foreach: getRegion('customer-email') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        <!--/ko-->
        <form id="co-payment-form" class="form payments" novalidate="novalidate">
            <input data-bind='attr: {value: getFormKey()}' type="hidden" name="form_key"/>
            <fieldset class="fieldset">
                <legend class="legend">
                    <span data-bind="i18n: 'Payment Information'"></span>
                </legend>
                <!-- ko foreach: getRegion('beforeMethods') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
                <div id="checkout-payment-method-load" class="opc-payment" data-bind="visible: isPaymentMethodsAvailable">
                    <!-- ko foreach: getRegion('payment-methods-list') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                </div>
                <div class="no-quotes-block" data-bind="visible: isPaymentMethodsAvailable() == false">
                    <!-- ko i18n: 'No Payment method available.'--><!-- /ko -->
                </div>
                <!-- ko foreach: getRegion('afterMethods') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
            </fieldset>
        </form>
    </div>
    <form data-bind="submit: navigateToNextStep" class="step-shpping-payment" novalidate="novalidate">
        <div class="actions-toolbar">
            <div class="primary">
                <button data-role="opc-continue" type="submit" class="button action continue primary">
                    <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                </button>
            </div>
        </div>
    </form>
</li>
