<li id="review-step" data-bind="fadeVisible: isVisible">
    <!--Shipping method template-->
    <div id="checkout-step-review"
         class="step-content"
         data-role="content"
         role="tabpanel"
         aria-hidden="false">
        <div class="opc-block-addresses-shipping-payment">
            <div class="opc-block-addresses">
                <!-- ko foreach: getRegion('summary-address') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            <div class="opc-block-shipping-payment">
                <!-- ko foreach: getRegion('summary-shipping-payment') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
        </div>
        <div class="opc-block-comment-discount">
            <!-- ko foreach: getRegion('summary-comment-discount') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="opc-block-review">
            <!-- ko foreach: getRegion('summary') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>
</li>
