<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: (isVisible()) -->
<div class="address-review">
    <div class="address-review-title">
        <span data-bind="i18n: 'Shipping address & Billing address'"></span>
    </div>
    <div class="address-review-content">
        <div class="address-item bill-to">
            <div class="address-item-title">
                <span data-bind="i18n: 'Billing Address'"></span>
            </div>
            <div class="address-item-content">
                <!-- ko foreach: getRegion('bill-to') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            <a href="#" class="address-item-edit" data-bind="click: backToBillingAddress, i18n: 'edit billing address'"></a>
        </div>
        <!-- ko if: (!isVirtual()) -->
        <div class="address-item ship-to">
            <div class="address-item-title">
                <span data-bind="i18n: 'Shipping Address'"></span>
            </div>
            <div class="address-item-content">
                <!-- ko foreach: getRegion('ship-to') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            <a href="#" class="address-item-edit" data-bind="click: back, i18n: 'edit shipping address'"></a>
        </div>
        <!--/ko-->
    </div>
</div>
<!--/ko-->
