// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Product Lists
    .products {
        margin: @indent__l 0 60px;
    }

    .product {
        &-items {
            .lib-inline-block-space-container();
            &:extend(.abs-reset-list all);
        }

        &-item {
            .lib-inline-block-space-item();
            vertical-align: top;

            .products-grid & {
                display: inline-block;
            }

            &:nth-child(2n + 1) {
                margin-left: 0;
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                // -moz-hyphens: auto;
                // -ms-hyphens: auto;
                // -webkit-hyphens: auto;
                // display: block;
                // hyphens: auto;
                margin: @indent__xs 0;
                // word-wrap: break-word;
            }

            &-info {
                max-width: 100%;
            }

            &-actions {
                font-size: 0;

                > * {
                    font-size: 1.4rem;
                }

                .actions-secondary {
                    display: inline-block;
                    font-size: 1.4rem;
                    vertical-align: middle;

                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        &:extend(.abs-actions-addto all);
                        &:before {
                            margin: 0;
                        }
                        line-height: 35px;
                        text-align: center;
                        width: 35px;

                        span {
                            &:extend(.abs-visually-hidden all);
                        }
                    }
                }

                .actions-primary {
                    display: inline-block;
                    vertical-align: middle;

                    > .stock.unavailable {
                        line-height: 1;
                        padding-bottom: @indent__s;
                        padding-right: 24px;
                        padding-top: @indent__s;
                    }
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                }
            }

            .price-box {

                .price {
                    font-size: 22px;
                    white-space: nowrap;
                }

                .price-label {
                    display: none;
                    .lib-css(color, @product-price__muted__color);
                    font-size: @font-size__s;
                }
            }

            .old-price {
                margin: @indent__xs 0;

                .price {
                    font-weight: normal;
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: @indent__xs;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(
                    @icon-compare-full
                );
            }

            .tocart {
                font-size: 14px;
                border-radius: 0;
                line-height: 20px;
                padding-bottom: @indent__s;
                padding-top: @indent__s;
                white-space: nowrap;
                &:after{
                    content: '+';
                    padding-left: 5px;
                }
                &.config:after{
                    content: '->';
                }
            }
        }
    }

    .column.main {
        .product {
            &-items {
                margin-left: 0;
            }

            &-item {
                padding-left: 0;
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '(' attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .category-view{
        display: flex;
        flex-wrap: wrap;
        > div{
            width: 100%;
        }
        .category-image{
            position: relative;
            overflow: hidden;
        }
        .page-title-wrapper{
            .page-title{
                margin-bottom: 30px;
            }
        }
    }

    .category-page-wrap {
        .products.wrapper {
            .products{
                .row{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0 -15px 15px;
                    > div{
                        width: 50%;
                        padding: 0 15px;
                        box-sizing: border-box;
                        .image-info{
                            height: 100%;
                            .image{
                                position: relative;
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                height: 100%;
                            }
                        }
                    }
                    .item-wrap{
                        display: flex;
                        flex-wrap: wrap;
                        padding: 0;
                    }
                    &:nth-child(even){
                        flex-direction: row-reverse;
                    }
                }
                .product-item{
                    width: 25%;
                    padding: 0 15px;
                }
            }
        }
        .product-item-info{
            .product-images-cart{
                position: relative;
                overflow: hidden;
                .product-item-inner{
                    position: absolute;
                    bottom: -40px;
                    width: 100%;
                    z-index: 10;
                    -moz-transition: all 0.5s ease-in-out 0s;
                    -ms-transition: all 0.5s ease-in-out 0s;
                    -o-transition: all 0.5s ease-in-out 0s;
                    transition: all 0.5s ease-in-out 0s;
                    button{
                        width: 100%;
                    }
                }
                &:hover{
                    cursor: pointer;
                    .product-item-inner{
                        bottom: 0;
                        -moz-transition: all 0.5s ease-in-out 0s;
                        -ms-transition: all 0.5s ease-in-out 0s;
                        -o-transition: all 0.5s ease-in-out 0s;
                        transition: all 0.5s ease-in-out 0s;
                    }
                }
            }
            .product-item-details{
                padding: 15px 0;
                font-family: "Karla", Helvetica, Arial, sans-serif;
                text-align: center;
                .name{

                    font-size: 20px;
                    font-family: "Karla-Fritz", Helvetica, Arial, sans-serif;
                    color: #fff;
                    text-transform: lowercase !important;
                    margin-bottom: 15px;
                }
                .tax-ship{
                    display: none;
                }
                .price-tax-wrap{

                    .product-price{
                        margin-left: 10px;
                        display: flex;
                        justify-content: center;
                        position: relative;
                        max-width: 285px;
                        margin: 0 auto;

                        .price-box.price-final_price{
                            padding-right: 7px;
                        }
                        .per{
                            position: absolute;
                            color: #fff;
                            top: 27px;
                            font-size: 12px;
                            left: 0;
                        }

                        &.auction{
                            .price-box, .product-additional-info{
                                display: none;
                            }
                        }
                    }
                    .product-additional-info{
                        width: 115px;
                        .tax-text{
                            padding-left: 10px;
                            font-size: 12px;
                            line-height: 15px;
                            a{
                                text-decoration: underline;
                                &:hover{
                                    text-decoration: none;
                                }
                            }
                        }
                        .deposit{
                            font-size: 12px;
                        }
                    }
                    .baseprice{
                        font-size: 12px;
                    }
                    .winner-price{
                        font-size: 22px;
                    }
                }
            }
        }
        &.basic-layout{
            .product-items{
                display: flex;
                margin: 0 -15px;
                flex-wrap: wrap;
            }
        }
        &.pro-layout{
            // .category-view{
            //     display: none;
            // }
            .products.wrapper {
                .products{
                    .product-item{
                        width: 50%;
                    }
                }
            }
            .category-cms{
                position: relative;
                > .image-info{
                    position: relative;
                    overflow: hidden;
                    .image{
                        display: block;
                        transition: -webkit-transform 1.3s ease-out;
                        transition: transform 1.3s ease-out;
                        transition: transform 1.3s ease-out, -webkit-transform 1.3s ease-out;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                    &:hover{
                        cursor: pointer;
                        .image{
                            transition: -webkit-transform 1.3s ease-out;
                            transition: transform 1.3s ease-out;
                            transition: transform 1.3s ease-out, -webkit-transform 1.3s ease-out;
                            -webkit-transform: scale(1);
                            transform: scale(1.5);
                        }
                    }
                }
                .desc{
                    position: absolute;
                    top: 0;
                    width: 90%;
                    padding: 15px;
                    font-weight: 400;
                    h3{
                        color: #000;
                        letter-spacing: 0.5px;
                        font-size: 40px;
                        font-weight: 700;
                    }
                    > p{
                        font-size: 24px;
                        font-family: "Karla", Helvetica, Arial, sans-serif;
                        display: block;
                        line-height: 20px;
                        letter-spacing: 0.5px;
                        margin-top: 15px;
                    }
                }
            }

            //New Design Pro Layout
            .products.wrapper {
                .products {
                    .row{
                        .item-wrap{
                            .category-cms{
                                display: none;
                            }
                            .items{
                                display: flex;
                                width: 100%;
                            }
                        }
                        &:nth-child(2n){
                            .item-wrap{
                                width: 100%;
                                .category-cms{
                                    display: block;
                                    width: 50%;
                                    padding: 0 15px;
                                    box-sizing: border-box;
                                    .cms-image{
                                        width: 100%;
                                        height: 287px;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                    }
                                }
                                .items{
                                    width: 50%;

                                    .product-item{
                                        width: inherit;
                                    }
                                }
                                &:last-child{
                                    flex-flow: row-reverse;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .category-page-wrap {
        .product-item-info {
            .product-item-details {
                .price-tax-wrap.drink {
                    .product-additional-info{
                        width: 190px;
                        text-align: left;
                        padding-left: 15px;
                        .baseprice{
                            display: block;
                            font-size: 12px;
                        }
                        .tax-text{
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }


}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m-1) {
    .page-products {
        .category-page-wrap {
            .products.wrapper {
                .products {
                    .product-item{
                        width: 50%;
                    }
                    .row {
                        > div{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .page-products .category-page-wrap.pro-layout .products.wrapper .products .row:nth-child(2n){
        .item-wrap {
            .items, .category-cms{
                width: 100%;

            }
            .category-cms{
                margin-bottom: 30px;
            }
            &:last-child{
                flex-flow: inherit;
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__500) {
    .page-products {
        .category-page-wrap {
            .products.wrapper {
                .products {
                    .product-item{
                        width: 100%;
                    }
                }
            }
            &.pro-layout{
                .products.wrapper {
                    .products {
                        .product-item{
                            width: 100%;
                        }
                    }
                }
                .category-cms {
                    .desc{
                        width: 84%;
                    }
                }
            }
        }
    }
    .category-page-wrap.pro-layout .products.wrapper .products .row .item-wrap .items{
        flex-wrap: wrap;
    }
}




