<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<?php /** @var $block \Magento\Checkout\Block\Cart\Shipping */ ?>

<div id="block-shipping"
     class="block shipping"
     data-mage-init='{"collapsible":{"openedState": "active", "saveState": true}}'
>
    <div id="block-summary"
         data-bind="scope:'block-summary'"
         class="content"
         data-role="content"
         aria-labelledby="block-shipping-heading"
    >
        <!-- ko template: getTemplate() --><!-- /ko -->
        <script>
            window.checkoutConfig = <?= /* @noEscape */ $block->getSerializedCheckoutConfig() ?>;
            window.customerData = window.checkoutConfig.customerData;
            window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
            require([
                'mage/url',
                'Magento_Ui/js/block-loader'
            ], function(url, blockLoader) {
                blockLoader(
                    "<?= $block->escapeJs($block->escapeUrl($block->getViewFileUrl('images/loader-1.gif'))) ?>"
                );
                return url.setBaseUrl('<?= $block->escapeJs($block->escapeUrl($block->getBaseUrl())) ?>');
            })
        </script>
    </div>
</div>
<script type="text/javascript">
    require([
        'jquery',
        'Magento_Checkout/js/action/get-totals',
        'Magento_Customer/js/customer-data'
    ], function ($, getTotalsAction, customerData) {
        $(document).ready(function (){
            ajaxUpdateQty();
            function ajaxUpdateQty(){
                $(document).on("click",".control.qty input[type='number']", function(){
                    $(this).closest('td.col.qty').find('.update-qty-btn').show();
                });
                $(".update-qty-btn").click(function(){
                    var form = $('form#form-validate');
                    $.ajax({
                        url: form.attr('action'),
                        data: form.serialize(),
                        showLoader: true,
                        success: function (res) {
                            var parsedResponse = $.parseHTML(res);
                            var result = $(parsedResponse).find("#form-validate");
                            var sections = ['cart'];

                            $("#form-validate").replaceWith(result);

                            // The mini cart reloading
                            customerData.reload(sections, true);

                            // The totals summary block reloading
                            var deferred = $.Deferred();
                            getTotalsAction([], deferred);
                            location.reload(true);
                        },
                        error: function (xhr, status, error) {
                            var err = eval("(" + xhr.responseText + ")");
                            console.log(err.Message);
                        }
                    });
                });
            }
        });
    });
</script>
