<!-- ko if: (!isEmailExist() && !isCustomerLoggedIn()) -->
<div class="checkout-billing-address customer-create-account ">
    <div class="field choice">
        <input type="checkbox" name="customer-create-account" data-bind="checked: isCreateAccount, click: showPassword" id="customer-create-account">
        <label class="label" for="customer-create-account">
            <span data-bind="i18n: 'Create a new account'"></span>
        </label>
    </div>
    <!-- ko if: (isCreateAccount) -->
    <form class="account-passwords" id="account-passwords" data-mage-init='{"validation": {}}' autocomplete="off" >
        <div class="field account-password">
            <label class="label" for="account-password">
                <span data-bind="i18n: 'Password'"></span>
            </label>
            <input type="password" name="account-password" id="account-password" data-password-min-length="5" data-validate="{required:true, 'validate-customer-password':true}">
            <span id="eye-icon-current" class="links-icon eye-icon" data-bind="click:passCurrentVisible"></span>
        </div>
    </form>
    <!--/ko-->
</div>
<!--/ko-->
