<?php

/**
 * Webkul_Auction Auto Bid History.
 * @category  Webkul
 * @package   Webkul_Auction
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

?>
<?php
$autoBidDetails = $block->getAutoBidDetails();
if ($autoBidDetails) { ?>
    <?php if ($autoBidDetails && count($autoBidDetails)): ?>
        <div class="table-wrapper auto-bid-container">
            <table class="data table" id="my-auction-bid-table">
                <caption class="table-caption"><?= /* @noEscape */ __('Auctions Bid') ?></caption>
                <thead class="wk-auction-bid-table-header">
                    <tr>
                        <th scope="col" class="col"><?= /* @noEscape */ __('Bidder Name') ?></th>
                        <th scope="col" class="col"><?= /* @noEscape */ __('Bid Amount') ?></th>
                        <th scope="col" class="col"><?= /* @noEscape */ __('Time Stamp') ?></th>
                    </tr>
                </thead>
                <tbody class="wk-auction-bid-table-body">
                    <?php foreach ($autoBidDetails as $autoAuction): ?>
                        <tr>
                            <td data-th="<?= /* @noEscape */ $block->escapeHtml(__('Bidder Name ')) ?>" class="col">
                                <?= /* @noEscape */ $block->getCustomerName($autoAuction->getCustomerId()); ?>
                            </td>
                            <td data-th="<?= /* @noEscape */ $block->escapeHtml(__('Bid Amount')) ?>" class="col">
                                <?= /* @noEscape */ $block->formatPrice($autoAuction->getAmount()) ?>
                            </td>
                            <td data-th="<?= /* @noEscape */ $block->escapeHtml(__('Time Stamp')) ?>" class="col">
                            <?= /* @noEscape */ $block->formatDate($autoAuction->getCreatedAt(), \IntlDateFormatter::MEDIUM, true); ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <?php if ($block->getPagerHtml()): ?>
            <div class="order-products-toolbar toolbar bottom"><?= /* @noEscape */ $block->getPagerHtml(); ?></div>
        <?php endif ?>
    <?php else: ?>
        <div class="message info empty auto-bid-container">
            <span><?= /* @noEscape */ __('You have no auto bid records.'); ?></span>
        </div>
    <?php endif ?>
    <script>
    require([
        "jquery",
        "mage/mage"
    ], function($){
        $('.auto-bid-show').click(function(){
            $('.auto-bid-container').toggleClass('show');
            $('.auto-bid-container').slideToggle();
            $('.auto-bid-container').next('.toolbar').slideToggle();
            if ($('.auto-bid-container').hasClass('show')) {
                $(this).text("<?= /* @noEscape */ __('Hide Auto Bid') ?>");
            } else {
                $(this).text("<?= /* @noEscape */ __('Show Auto Bid') ?>");
            }
        });
    });
</script>
<?php } ?>
