<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="item-table-columns">
    <div class="items-table-col product-item-name-block">
        <!-- ko foreach: getRegion('before_details') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div class="item-table-name-options">
            <strong class="product-item-name" data-bind="html: $parent.name"></strong>
<!--            <p class="product-item-delivery_time">-->
<!--                <span data-bind="i18n: 'Delivery Time:'"></span>-->
<!--                <strong data-bind="html: $parent.delivery_time"></strong>-->
<!--            </p>-->
            <!-- ko if: (JSON.parse($parent.options).length > 0)-->
            <div class="product options">
                <div data-role="content" class="content">
                    <strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
                    <dl class="item-options">
                        <!--ko foreach: JSON.parse($parent.options)-->
                        <dt class="label" data-bind="html: label"></dt>
                        <!-- ko if: ($data.full_view)-->
                        <dd class="values" data-bind="html: full_view"></dd>
                        <!-- /ko -->
                        <!-- ko ifnot: ($data.full_view)-->
                        <dd class="values" data-bind="html: value"></dd>
                        <!-- /ko -->
                        <!-- /ko -->
                    </dl>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <div class="items-table-col details-qty">
        <span class="item-text" data-bind="i18n: 'Qty'"></span>
        <span class="value" data-bind="text: $parent.qty"></span>
    </div>
    <div class="items-table-col">
        <span class="item-text" data-bind="i18n: 'Price'"></span>
        <span class="value" data-bind="text: getFormattedPrice($parent.price_incl_tax)"></span>
    </div>
    <!-- ko foreach: getRegion('after_details') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>


<!-- ko foreach: getRegion('item_message') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
