<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <style type="text/css">
            {{var template_styles|raw}}

            {{css file="css/email.css"}}
        </style>
    </head>
    <body>
        {{inlinecss file="css/email-inline.css"}}

        <!-- Begin wrapper table -->
        <table class="wrapper" width="100%">
            <tr>
                <td class="wrapper-inner" align="center">
                    <table class="main" align="center">
                        <tr>
                            <td class="header">
                                <a class="logo" href="{{store url=""}}">
                                    <img
                                        {{if logo_width}}
                                        width="{{var logo_width}}"
                                        {{else}}
                                        width="180"
                                        {{/if}}

                                        {{if logo_height}}
                                        height="{{var logo_height}}"
                                        {{/if}}

                                        src="{{var logo_url}}"
                                        alt="{{var logo_alt}}"
                                        border="0"
                                        />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="main-content">
                            <!-- Begin Content -->
                            {{block class='Magento\Framework\View\Element\Template' area='adminhtml' template='Commercers_OrderProposal::email/commercers_order_proposal_cron_error.phtml' messages=$messages }}
                        </td>
                    </tr>
                    <tr>
                        <td class="footer">
                            <p class="closing">{{trans "Thank you, %store_name" store_name=$store.getFrontendName()}}!</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- End wrapper table -->
</body>