<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** This changes need to valid applying filters and configuration before search process is started. */
$productList = $block->getProductListHtml();
?>
<?php if ($block->getResultCount()) : ?>
    <?= /* @noEscape */ $block->getChildHtml('tagged_product_list_rss_link') ?>
<div class="search results">
    <?php if ($messages = $block->getNoteMessages()) : ?>
    <div class="message notice">
        <div>
            <?php foreach ($messages as $message) : ?>
                <?= /* @noEscape */ $message ?><br />
            <?php endforeach; ?>
        </div>
    </div>
    <?php endif; ?>
    <?= /* @noEscape */ $productList ?>
</div>
<?php else : ?>
    <div class="amsearch-products-no-result">
        <div class="page-title-wrapper">
            <h1 class="page-title">
                <span class="base" data-ui-id="page-title-wrapper"><?= __('Oh no!'); ?></span></h1>
        </div>
        <p><?= __('We don’t have that one in our shop. Suggest which fritz MERCH you would like to have!'); ?></p>
        <div class="mail-button">
            <a title="<?= __('My product suggestion for the fritz-kola shop') ?>" href="mailto:idea@fritz-kola-shop.com"><?= __('SUGGEST MERCH'); ?></a>
        </div>
    </div>
    <script type="text/javascript">
        require([
            'jquery',
        ], function ($) {
            $('#maincontent > .page-title-wrapper').addClass('hidden');
        });
    </script>
<?php endif; ?>
