<div id="preloader">
    <div class="preloader-info">
        <div class="preloader-logo">
            <img src="<?= $block->getViewFileUrl('images/giphy.gif'); ?>" alt="">
        </div>
    </div>
</div>
<script type="text/javascript">
    require(
        ["jquery",
        ], function ($) {
            $(window).load(function() {
                jQuery("#preloader").delay(1500).fadeOut(600);
            });
        });
</script>



