<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
?>
<span data-action="toggle-nav" class="action nav-toggle"><span><?= $block->escapeHtml(__('Toggle Nav')) ?></span></span>
<div class="icon-account">
    <a href="<?php echo $block->getUrl('customer/account'); ?>">
        <span class="icon"></span>
    </a>
    <?php if($customerSession->isLoggedIn()): ?>
        <a class="log-out" href="<?php echo $block->getUrl('customer/account/logout'); ?>">
            <span class="icon"></span>
        </a>
    <?php endif; ?>
</div>
