<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
?>
<div class="header-language-welcome">
    <?php if($customerSession->isLoggedIn()): ?>
        <span class="welcome-text"><?= __('Hello, %1!',$customerSession->getCustomerData()->getFirstname()) ?></span>
    <?php endif; ?>
    <?php echo $block->getChildHtml('store.settings.language');?>
</div>
