<style>
    .select-profile{
        width: 320px;
    }
    .input-ele{
        padding-top: 5px;
    }
</style>
<?php
 $orderIncrement = $block->getOrderIncrement();
?>

<div class="entry-edit admin__scope-old">
    <form id="export_form" name="export_form" method="post" action="<?php echo $block->getUrl('*/*/export')?>">
        <input name="form_key" type="hidden" value="<?php echo $block->getFormKey() ?>"/>

        <fieldset id="my-fieldset" class="fieldset admin__fieldset">
            <legend class="legend">
                <span><?php echo __('Manual Export') ?></span>
            </legend>
            <table cellspacing="0" class="form-list" width="42%">
                <tr>
                    <td class="label"><?php echo __('Profile')?> <span class="required">*</span></td>
                    <td class="input-ele">
                        <select class="select-profile" name="profiler_id">
                            <?php echo $block->optionProfilers();?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label store-view"><?php echo __('Store Views')?> <span class="required">*</span></td>
                    <td class="input-ele">
                        <div class="select-profile">
                            <?php echo $block->getStoreViewSelectorHtml();?>
                        </div>
                    </td>
                </tr>
                <tr >
                    <td class="label store-view"><?php echo __('Starting ID')?> <span class="required">*</span></td>
                    <td class="input-ele">
                        <input class="input-text required-entry" name="increment_from" id="increment_from" value="1"/> (1 = <?php echo __('from the beginning')?>)
                        <p><?php echo __('Last order id is') ?>  <?php echo $orderIncrement['first'] ?>[<a class="increment" value="<?php echo $orderIncrement['first'] ?>">use</a>]</p>
                        <p><?php echo __('Last exported order id is ') ?>  <?php echo $orderIncrement['last'] ?> [<a class="increment" value="<?php echo $orderIncrement['last'] ?>">use</a>]</p>
                    </td>
                </tr>
                <tr >
                    <td class="label store-view"><?php echo __('Ending ID')?> <span class="required">*</span></td>
                    <td class="input-ele">
                        <input class="input-text required-entry" name="increment_to" id="increment_to" value="0"/> (0 = <?php echo __('until the last object created')?>)
                    </td>
                </tr>
                <tr>
                    <td class="label"><?php echo __('Date Range from')?></td>
                    <td class="input-ele"><?php echo $block->getCalendarHtml('daterange_from')?></td>
                </tr>
                <tr>
                    <td class="label"><?php echo __('Date Range to')?></td>
                    <td class="input-ele" style="padding-top: 5px;"><?php echo $block->getCalendarHtml('daterange_to')?></td>
                </tr>
                <tr>
                    <td class="label"><?php echo __('Created during the last X days')?></td>
                    <td class="input-ele" style="padding-top: 5px;">
                        <input class="input-text" name="last_x_days" id="last_x_days" value="0" maxlength="5" style="width: 50px !important;" min="0" type="number"/>
                    </td>
                </tr>
<!--                <tr>-->
<!--                    <td class="label" style="padding-top: 5px;">--><?php //echo __('Export only not yet exported objects')?><!--&nbsp;&nbsp;</td>-->
<!--                    <td class="input-ele" style="padding-top: 5px;">-->
<!--                        <input type="checkbox" name="filter_new_only" id="filter_new_only" style="margin-top:7px;"/>-->
<!--                    </td>-->
<!--                </tr>-->
                <tr id="change_order_status" style="display:none;">
                    <td class="label" style="padding-top: 5px;"><?php echo __('Change order status after export')?></td>
                    <td class="input-ele" style="padding-top: 5px;">
                        <select type="select" class="select" name="force_status" id="force_status" style="width: 320px; margin-top:4px">
                            <option value="no_change"><?php echo __('--- No Change ---')?></option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label" style="padding-top: 5px;"><?php echo __('Serve file to browser after exporting')?></td>
                    <td class="input-ele" style="padding-top: 5px;">
                        <input type="checkbox" name="start_download" id="start_download" value="1" style="margin-top:7px;"/>
                    </td>
                </tr>
                <tr>
                    <td class="label">&nbsp;</td>
                    <td class="input-ele" style="padding-top: 15px;">
                        <button class="scalable save" type="submit" id="export_button">
                            <span><?php echo __('Export')?></span></button>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>

<div id="export_dialog" style="display:none; z-index: 999999; cursor: default; ">
    <h2 style="color: #fff !important;"><?php echo __('Exporting... Please wait...')?></h2>
    <input type="button" id="close" value="Close Progress Window" style="padding:5px; color: #000 !important;"/>
</div>
<script>
    require(["jquery"], function($) {
        $('.increment').on('click',function() {
            $('#increment_from').val($(this).attr('value'));
        });
    });
</script>