// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Using buttons mixins
    button,
    a.action.primary {
        .lib-css(border-radius, @button__border-radius);
    }

    button {
        &:not(.primary) {
            .lib-css(box-shadow, none);

            &:active {
                .lib-css(box-shadow, @button__shadow-active);
            }
        }
    }

    body {
        &:not(._keyfocus) {
            button {
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    a.action.primary {
        .lib-link-as-button();
    }

    .action.primary,
    .action-primary {
        .lib-button-primary();
        font-weight: 400;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font-family: "Karla", Helvetica, Arial, sans-serif;
    }
}
