// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Email extend styles
//  _____________________________________________

//  This file should be used for theme-specific styles for emails that extend or modify the styles in _email.less
//  This will allow you to edit email styles without copying and editing the _email.less file

//  Custom fonts are declared here, rather than in _email-base.less, as it allows for custom fonts to be changed/removed
//  in custom themes.

//  Importing fonts from an external CSS file, rather than embedding @font-face declarations inside the <style> tag,
//  as the latter will cause font rendering issues if the web fonts are inaccessible.

@import url("@{baseUrl}css/email-fonts.css");

body{
    font-family: "Karla", Helvetica, Arial, sans-serif!important;
    color: #000!important;

    td, ul, p{
        font-family: "Karla", Helvetica, Arial, sans-serif!important;
        color: #000!important;
        font-size: 14px;
    }

    .header{
        padding: 30px 0;
    }

    .main-content{
        padding: 15px;
    }

    .logo{
        img{
            width: 305px;
        }
    }

    table.footer-container{
        background: #000;
        width: 100%;
        padding: 15px;
        color: #fff!important;
        tr{
            td{
                padding: 10px;
                font-size: 17px;
                color: #fff!important;
                width: 50%;
                p{
                    margin-bottom: 0;
                    color: #fff!important;
                }
                &.social-buttons{

                    text-align: right;

                }
            }
        }
    }

    .general-terms{
        background-color: #fff;
        width: 100%;

        h2{
            font-size: 20px!important;
        }

        tr{
            td{
                padding: 15px;
                .footer-top, .footer-bottom{
                    margin-bottom: 20px;
                }
            }
        }

        li, p{
            font-size: 14px!important;
            line-height: 18px;
            letter-spacing: 0.25px;
            margin-left: 0;
        }
        p.closing{
            text-align: center;
        }
    }

    .button{
        table.inner-wrapper{
            tr{
                td{
                    &:hover, &:focus, &:visited{
                        background-color: #fff!important;
                    }
                    a{
                        background: #fff;
                        color: #000;
                        border: none;
                        border-radius: 0;
                    }
                }
            }
        }
    }

    .main-content{
        a{
            color: #000!important;
            text-decoration: underline!important;
            &:visited{
                color: #000!important;
                text-decoration: none!important;
            }
            &:hover{
                color: #979797!important;
                text-decoration: none!important;
            }

            &.btn-action{
                color: #fff!important;
                background-color: #000!important;
                text-decoration: none!important;
                &:hover, &:visited, &:focus{
                    background-color: #000!important;
                    color: #fff!important;
                    text-decoration: none!important;
                }
            }
        }
    }

    .email-information{

        .order-details{

            .address-details, .method-info{
                img{
                    width: 25px;
                    float:left;
                    margin-right: 10px;
                }
                h3{
                    margin-bottom: 0;
                }
            }
        }
    }
    ul{
        list-style: none;
        &.detail-list{
            padding-left: 20px;
            li{
                position: relative;
                &:before{
                    content: '';
                    width: 5px;
                    position: absolute;
                    height: 5px;
                    border-radius: 50%;
                    background-color: #777777;
                    left: -15px;
                    top: 8px;
                }
            }
        }
    }
    .email-items{
        thead{
            background: #000;
            color: #fff;
            tr{
                th{
                    font-weight: 400;
                    &:first-child{
                        text-align: center;
                    }
                    &:nth-child(2){
                        text-align: right;
                    }
                }
            }
        }
        > tbody{
            > tr{
                > td{
                    &:first-child{
                        display: flex;
                        align-items: flex-start;
                        .product-image{
                            margin-right: 5px;
                        }
                    }
                    &:nth-child(2){
                        text-align: right;
                    }
                }
            }
        }
        tfoot{
            tr{
                &:nth-child(3){
                    display: none!important;
                }
            }
        }
    }
    .email-intro{
        td{
            p{
                a{
                    color: #000!important;
                    &:hover{
                        color: #979797!important;
                    }
                    &:visited, &:focus{
                        color: #000!important;
                    }
                }
            }
        }
    }
    .email-information{
        > td{
            > a.tracking-link{
                display: none;
            }
        }
    }
}


