.footer-container{
  display: flex;
  justify-content: space-around;
  .footer-element{
    ul{
      li{
        padding-bottom: 5px;
        a{
          color: #333333;
          font-weight: 500;
          text-decoration: none;
        }
      }
    }
  }
}
.news-footer{
  text-align: center;
  .footer-newsletter{
    span{
      &.required{
        color: #fff;
        padding-right: 3px;
      }
    }
    a{
      color: #333333;
      text-decoration: none;
    }
  }
}
.actions-secondary{
  .action{
    &.tocompare{
      display: none;
    }
  }
}
.search-autocomplete{
  &.-bottom-position{
    width: 360px !important;
    .amsearch-products{
      .amasty-xsearch-block-header{
        padding: 0 20px 15px!important;
      }
    }

    .amsearch-autocomplete-image{
      max-width: 85px;
      margin-right: 15px;
    }
  }
}
.amsearch-form-container{
 &.-opened{
   .amsearch-wrapper-input{
     width: 220px !important;
   }
 }
 &.-large{
    .amsearch-wrapper-content{
      padding: 0 20px;
      .amsearch-wrapper-inner{
        margin-top: 0!important;
        .amasty-xsearch-form{
          display: flex;
          align-items: center;
          .action{
            &.tocart.primary{
              width: 150px;
            }
          }
          .input-text{
            &.qty{
              width: 95px;
              padding: 0;
              text-align: center;
              height: 34px;
              margin-left: 5px;
            }
          }
        }
      }
      .autocomplete-info-wrap{
        display: flex;
        align-items: flex-end;
        .text{
          span{
            font-size: 15px;
            &:after{
              content:':';
              padding-right: 5px;
            }
          }
        }
        .price{
          font-size: 15px!important;
        }
      }
    }
 }
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  display:flex;
  justify-content: center;
  align-items: center;
}
.pre-progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  opacity: 0;
  pointer-events: none;
}
