// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .message.info {
        .lib-message-icon-inner(info);
        margin-bottom: 30px;
        background: none;
        color: #fff;
        border: 1px solid #979797;
        > *:first-child:before{
            color: #fff!important;
        }
        a{
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }

    .message.error {
        .lib-message-icon-inner(error);
        margin-bottom: 30px;
        background: none;
        color: #fff;
        border: 1px solid #979797;
        > *:first-child:before{
            color: #fff!important;
        }
        a{
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }

    .message.warning {
        .lib-message-icon-inner(warning);
        margin-bottom: 30px;
        background: none;
        color: #fff;
        border: 1px solid #979797;
        > *:first-child:before{
            color: #fff!important;
        }
        a{
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }

    .message.notice {
        .lib-message-icon-inner(notice);
        margin-bottom: 30px;
        background: none;
        color: #fff;
        border: 1px solid #979797;
        > *:first-child:before{
            color: #fff!important;
        }
        a{
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }

    .message.success {
        .lib-message-icon-inner(success);
        margin-bottom: 30px;
        background: none;
        color: #fff;
        border: 1px solid #979797;
        > *:first-child:before{
            color: #fff!important;
        }
        a{
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
