.header-language-welcome{
    .switcher-options{
        .dropdown.switcher-dropdown{
            z-index: 100 !important;
        }
    }
}

@media only screen and (min-width: 992px) {
    .catalog-category-view{
        .category-description{
            p{
                font-size: 22px;
            }
        }
    }
}
