<!-- ko if: isDisplayed() -->
<tr class="totals-klarna-invoice-fee">
    <th data-bind="text: titleDisplay" class="mark" colspan="1" scope="row"></th>
    <td data-bind="attr: {'data-th': titleDisplay}" class="amount">
        <span class="price" data-bind="text: getValue()"></span>
    </td>
</tr>
<!-- /ko -->