
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$mediaPath =  $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

$_product = $block->getProduct();
$auctionHelper =  $this->helper('Webkul\Auction\Helper\Data');
$auctionData = $auctionHelper->getAuctionData($_product->getId());
$auctionEndData = $auctionHelper->getAuctionEndData($_product->getId());

$today = $auctionHelper->getCurrentDateTime();
$today = date('Y-m-d H:i:s',strtotime($today));
?>
<?php if (!empty($auctionEndData) && ($auctionEndData['stop_auction_time'] < $today)): ?>
    <div class="out-of-stock-label">
        <img src="<?= $mediaPath.'wysiwyg/labels/auction_ended_sold_out_items.png' ?>" alt="">
    </div>
<?php endif; ?>

