.checkout-cart-index{
    .news-footer{
        display: block;
    }
}

.checkout-index-index{
  width: 100%;
  padding-right: 0;

  .news-footer{
    display: block;
    }

    .modal-inner-wrap{
        .modal-header{
            background-color: #000;
            .action-close{
                &::before{
                    color: #fff !important;
                }
            }
        }
        .modal-content{
            background: #000;
        }
        .modal-footer{
            background: #000;
            .action.secondary{
                padding: 10px;
                background: #fff;
                span{
                    color: #000;
                }
                &:hover{
                    background: #1C1C1C !important;
                    span{
                        color: #fff !important;
                    }
                }
            }
        }
    }

    span.price{
        font-size: 14px;
        font-weight: 600;
    }

    .totals-tax-summary{
        position: relative;
        .amount{
            border-bottom: 1px solid #fff !important;
            margin-left: -155px;
            width: 360px !important;
            position: absolute;
            .price{
                padding-right: 0 !important;
                &::after{
                    display: none !important;
                }
            }
        }
    }
    .account-passwords{
        .field.account-password{
            position: relative;
            .links-icon.eye-icon{
                position: absolute;
                right: -5px;
                top: 13px;
                font-weight: 900;
                font-family: "Font Awesome 5 Free";
                -webkit-font-smoothing: antialiased;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                border-radius: 100%;
                font-size: 1.8em !important;
                height: 55px;
                width: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                z-index: 10;
                &:before{
                    content: "\f06e";
                    font-size: 17px;
                    color: #fff;
                    opacity: 0.5;
                }
                &.active{
                    &:before{
                        content: "\f070" !important;
                    }
                }
            }
        }
    }
    .block-content{
        .actions-toolbar{
            .action-login{
                background: #fff;
                &:hover{
                    background: #1f1f1f;
                    >span{
                        color: #fff;
                        font-weight: 400;
                        text-transform: uppercase;
                    }
                }
                >span{
                    color: #000;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
    }
    .block-customer-login{
        .block-content{
            .fieldset{
                .field-email{
                    .label{
                        >span{
                            font-size: 14px !important;
                            font-weight: 600;
                        }
                    }
                }
                .field-password{
                    .label{
                        >span{
                            font-size: 14px !important;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
    .payment-group{
        .payment-method-content{
            .actions-toolbar{
                display: none;
            }
        }
    }
    .checkout-billing-address{
        .billing-address-details{
            display: none;
        }
        .billing-address-same-as-shipping-block{
            >label{
                >span{
                    padding-left: 25px;
                }
            }
        }
    }
    .address-fields{
        .form.methods-shipping{
            padding: 0 15px;
            display: flex;
            justify-content: flex-end;
            .table-checkout-shipping-method{
                tbody{
                    .row{
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .opc-block-review{
        .actions-toolbar-trigger{
            display: flex;
            justify-content: flex-end;
            border: 1px solid white;
            border-top: none;
            padding: 22px 55px 22px 60px;
        }
        .opc-block-summary{
            border: 1px solid white;
            border-bottom: none;
            padding-bottom: 0;
            background: transparent;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0!important;
            .checkout-agreements.fieldset{
                display: block !important;
                .label{
                    .action.action-show{
                        background: transparent;
                        border: none;
                        padding-right: 0;
                    }
                }
            }
            .data.table.table-totals{
                tbody{
                    >tr{
                        >th{
                            border: 0;
                            text-align: right;
                            padding-right: 0;
                        }
                        >td{
                            width: 205px;
                            border: 0;
                        }
                    }
                }
            }
            > .title{
                display: none;
            }
            .block.items-in-cart{
                width: 100%;
                margin-bottom: 0;
                padding: 0 25px 0 25px;
                border: 1px solid #000;
                border-bottom: 0;
                margin-top: 30px;
                .title{
                    display: none;
                }
            }
            .table-totals{
                border: 1px solid #000;
                border-top: 0;
                border-bottom: 0;
                border-spacing: 0.5px;
                border-collapse: initial;
                padding: 35px;
            }
            .minicart-items-wrapper{
                max-height: 370px;
                padding-top: 0;
                padding-bottom: 0;
                .items-table{
                    display: table;
                    width: 100%;
                    box-sizing: border-box;
                    .items-table-row{
                        display: table-row;
                        width: auto;
                        clear: both;
                        .item-table-columns{
                            display: flex;
                            border-bottom: 1px solid #ddd;
                            box-sizing: border-box;
                            overflow: hidden;
                            .items-table-col{
                                &:nth-child(1){
                                    width: 50%;
                                }
                                &:nth-child(2){
                                    width: 10%;
                                    display: flex;
                                    justify-content: flex-end;
                                }
                                &:nth-child(3){
                                    width: 15%;
                                    display: flex;
                                    justify-content: flex-end;
                                }
                                &:nth-child(4){
                                    width: 18%;
                                    display: flex;
                                    justify-content: flex-end;
                                }
                                padding: 10px;
                                font-size: 14px;
                                text-transform: uppercase;
                                font-weight: 700;
                                >.item-text{
                                    display: none !important;
                                }
                            }
                            .product-item-name-block{
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                .product-image-container{
                                    height: 75px !important;
                                    width: 75px !important;
                                }
                                .item-table-name-options{
                                    padding-left: 10px;
                                    .product.options{
                                        .item-options{
                                            text-transform: capitalize;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    a, .alink{
        color: #fff;
        text-decoration: underline;
    }
}
.opc-progress-bar{
  margin: 30px 0;
  counter-reset: i;
  display: flex;
  .opc-progress-bar-item{
    width: 33.333%;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
  }
}
.opc-estimated-wrapper{
  background: #000;
  border-bottom: 1px solid #979797;
  border-top: 1px solid #979797;
  margin: 0 -15px 30px;
  padding: 18px 15px;
  .estimated-block{
    font-size: 18px;
    float: left;
    padding-right: 15px;
    font-weight: 600;
    .estimated-label{
      display: block;
      margin: 0 0 4.5px;
    }
    .estimated-price{
      color: #fff;
    }
  }
}
.checkout-shipping-address{
  #checkout-step-shipping{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    position: relative;
    .login-form{
        padding-right: 5%;
      width: 30%;
      .authentication-wrapper{
        width: 100%;
        max-width: 100%;
        float: none;
        margin: 0;
        text-align: left;
        line-height: 22px;
      }
    }
    .address-fields{
      width: 65%;
      .step-title{
        margin: 0 15px 15px;
        /* font-size: 22px; */
        color: #fff;
        font-weight: 300;
        border-bottom: 1px solid #fff !important;
      }
      .form-shipping-address{
        padding: 0 15px;
        box-sizing: border-box;
        max-width: 100% !important;
        #shipping-new-address-form{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          > .field:first-child {
            width: 62%;
              >.control{
                  padding-left: 20px;
              }
          }
          > .field:nth-child(2) {
            width: 272px;
              >.label{
                  display: none;
              }
          }
          > .field:nth-child(3) {
            width: 100%;
            .label{
              padding-top: 5px;
            }
            >.control{
              position: absolute;
              width: 100%;
              padding-bottom: 25px;
                >.field{
                    padding-left: 185px;
                }
            }
          }
          > .field:nth-child(4) {
            width: 62%;
              > .control{
                  padding-left: 20px;
              }
          }
          > .field:nth-child(5) {
            width: 35%;
              >.label{
                  display: none;
              }
          }
          > .field:nth-child(6) {
            width: 100%;
              > .control{
                  padding-left: 20px;
              }
          }
          > .field:nth-child(7) {
            width: 100%;
              > .control{
                  padding-left: 20px;
              }
          }
          > .field:nth-child(8) {
            width: 100%;
          }
          > .field:nth-child(9) {
            width: 62%;
              > .control{
                  padding-left: 20px;
              }
          }
          > .field:nth-child(10) {
            width: 34%;
              >.label{
                  display: none;
              }
              > .control{
                  padding-left: 12px;
                  >.input-text{
                      width: 270px;
                  }
                  .field-tooltip.toggle{
                      display: none;
                      position: absolute;
                  }
              }
          }
        }
      }
    }
    .form.form-login{
      padding: 0 15px;
      box-sizing: border-box;
      margin-bottom: 45px;
    }
  }
}
.checkout-billing-address{
  .field.choice{
    > .label {
      cursor: pointer;
      user-select: none;
      padding-left: 5px;
      position: relative;
    }
  }
    &.customer-create-account{
        .field.choice{
            >.label{
                >span{
                    padding-left: 25px;
                }
            }
        }
    }
}
.billing-address-form{
    .choice.field{
        .label{
            >span{
                font-weight: bold;
                padding-left: 35px;
            }
        }
    }
  .fieldset.address{
    > .field:first-child {
      width: 62%;
        >.control{
            padding-left: 20px;
        }
    }
    > .field:nth-child(2) {
      width: 272px;
        >.label{
           display: none;
        }
    }
    > .field:nth-child(3) {
      width: 100%;
      .label{
        padding-top: 15px;
      }
      >.control{
        position: absolute;
        width: 687px;
        padding-left: 89px;
        padding-bottom: 25px;
          >.field{
              padding-left: 185px;
          }
      }
    }
    > .field:nth-child(4) {
      width: 62%;
        > .control{
            padding-left: 20px;
        }
    }
    > .field:nth-child(5) {
      width: 35%;
        >.label{
            display: none;
        }
    }
    > .field:nth-child(6) {
      width: 100%;
        > .control{
            padding-left: 20px;
        }
    }
    > .field:nth-child(7) {
      width: 100%;
        > .control{
            padding-left: 20px;
        }
    }
    > .field:nth-child(8) {
      width: 100%;
    }
    > .field:nth-child(9) {
      width: 62%;
        > .control{
            padding-left: 20px;
        }
    }
    > .field:nth-child(10) {
      width: 34%;
        >.label{
            display: none;
        }
        > .control{
            padding-left: 12px;
            >.input-text{
                width: 266px;
            }
            .field-tooltip.toggle{
                display: none;
                position: absolute;
            }
        }
    }
  }
}

.opc-wrapper{
  width: 100%;
  padding-right: 0;
    .form.form-login{
        display: block;
        margin-top: -30px;
        #customer-email-fieldset{
            >.field{
                display: flex;
                align-items: center;
                position: relative;
                >.label{
                    padding-bottom: 0px;
                    padding-right: 55px;
                    width: 130px;
                    >span{
                        font-weight: 600;
                        font-size: 14px;
                    }
                }
                >.control{
                    width: 597px;
                    padding-left: 0px;
                    >.input-text{
                        width: 100%;
                    }
                }
            }
        }
    }
  .form-shipping-address,.billing-address-form{
      .label{
          font-size: 14px !important;
          min-width: 165px;
      }
    > .fieldset{
      > .field{
        display: flex;
        align-items: center;
        position: relative;
        .control{
          width: 100%;
        }
        .label{
          margin-right: 0px;
          margin-bottom: 0;
          font-weight: 600;
        }
      }
    }
  }
  .form-shipping-address,.billing-address-form{
    > .hidden-fields{
      > .field{
        display: flex;
        align-items: center;
        position: relative;
        .control{
          width: 100%;
        }
        .label{
          margin-right: 10px;
          margin-bottom: 0;
          font-weight: 600;
        }
      }
    }
  }
}
.opc-wrapper .form-login > .fieldset > .field._required .control .input-text,
.opc-wrapper .form-shipping-address > .fieldset > .field._required .control .input-text,
.opc-wrapper .form-login .hidden-fields > .field._required .control .input-text,
.opc-wrapper .form-shipping-address .hidden-fields > .field._required .control .input-text,
.opc-wrapper .form-login > .fieldset > .field.required .control .input-text,
.opc-wrapper .form-shipping-address > .fieldset > .field.required .control .input-text,
.opc-wrapper .form-login .hidden-fields > .field.required .control .input-text,
.opc-wrapper .billing-address-form > .fieldset > .field > .control input{
  background-image: url('../images/asterisk.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 32px 32px;
}

.checkout-index-index{
    .address-fields{
        .register-account{
            .checkout-billing-address{
                .field.choice{
                    >input{
                        height: 18px;
                        width: 18px;
                    }
                }
            }
        }
        .checkout-billing-address{
            padding: 0 15px;
            .billing-address-same-as-shipping-block{
                height: 40px;
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                >input{
                    height: 18px;
                    width: 18px;
                }
                >label{
                    padding-left: 5px;
                }
            }
            .fieldset{
                display: flex;
                flex-wrap: wrap;
                .billing-address-form{
                    .fieldset.address{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        >.field{
                            display: flex;
                            align-items: center;
                            position: relative;
                            height: 40px;
                            >.control{
                                width: 100%;
                            }
                        }
                        > .field:nth-child(3) {
                            margin-top: -10px;
                            > .control{
                                padding-bottom: 37px;
                                width: 100%;
                                padding-left: 0px;
                            }
                        }
                        > .field:nth-child(4) {
                            > .control{
                                padding-left: 20px;
                            }
                        }
                        > .field:nth-child(6) {
                            > .control{
                                padding-left: 20px;
                            }
                        }
                        > .field:nth-child(7) {
                            > .control{
                                padding-left: 20px;
                            }
                        }
                        > .field:nth-child(9) {
                            > .control{
                                padding-left: 20px;
                            }
                        }
                        > .field:nth-child(10) {
                            padding-right: 15px;
                            > .control{
                                padding-left: 5px;
                                >input{
                                    width: 276px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.opc-wrapper .checkout-billing-address > .fieldset .field._required .control .input-text{
    background-image: url('../images/asterisk.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 32px 32px;
}

.checkout-index-index{
    #payment{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        #checkout-step-shipping-methods{
            width: 50%;
        }
        #checkout-step-payment{
            width: 50%;
        }
        .step-shpping-payment{
            width: 100%;
        }
    }

    #checkout-step-review{
        p.title{
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 5px;
        }
        .opc-block-addresses-shipping-payment{
            display: flex;
            flex-wrap: wrap;
            margin: 0 0 35px;
            .opc-block-addresses{
                width: 70%;
                .address-review{
                    padding-right: 30px;
                    .address-review-title{
                        font-size: 22px;
                        color: #fff;
                        margin-bottom: 15px;
                        font-weight: 300;
                        border-bottom: 1px solid #fff;
                    }
                    .address-review-content{
                        display: flex;
                        flex-wrap: wrap;
                        .address-item{
                            .address-item-title{
                                font-weight: 600;
                                font-size: 18px;
                                margin-bottom: 5px;
                            }
                            &.bill-to{
                                width: 50%;
                                .address-item-content{
                                    padding-bottom: 10px;
                                }
                            }
                            &.ship-to{
                                width: 50%;
                                .address-item-content{
                                    padding-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
            .opc-block-shipping-payment{
                width: 30%;
                .method-review{
                    .method-review-title{
                        margin-bottom: 20px;
                        font-size: 22px;
                        color: #fff;
                        margin-bottom: 15px;
                        font-weight: 300;
                        border-bottom: 1px solid #fff;
                    }
                    .method-review-content{
                        .method-shipping{
                            .shipping-method-edit{
                                display: block;
                                padding-top: 10px;
                            }
                        }
                        .method-payment{
                            margin-top: 15px;
                            .payment-method-edit{
                                display: block;
                                padding-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .checkout-agreements-item-content{
        color: #fff;
    }
}

@media only screen and (max-width:1024px){
    .checkout-shipping-address {
        #checkout-step-shipping {
            margin: 0;
            .address-fields {
                .step-title{
                    margin: 0 0 15px;
                }
                .form-shipping-address {
                    padding: 0;
                    #shipping-new-address-form {
                        > .field:nth-child(2){
                            width: 215px;
                        }
                        > .field:nth-child(10) > .control > .input-text{
                            width: 215px;
                            margin-left: -6px; 
                        }
                    }
                }
            }
        }
    }
    .opc-wrapper .form.form-login #customer-email-fieldset > .field > .control{
        width: 458px;
    }
}
@media only screen and (max-width:991px){
    .checkout-shipping-address {
        #checkout-step-shipping {
            .address-fields {
                width: 100%;
                .form-shipping-address {
                    padding: 0;
                    #shipping-new-address-form {
                        > .field:first-child {
                            width: 100%;
                              >.control{
                                  padding-left: 0;
                              }
                          }
                          > .field:nth-child(2) {
                            width: 100%;
                              >.label{
                                  display: none;
                              }
                          }
                          > .field:nth-child(3) {
                            width: 100%;
                            .label{
                              padding-top: 5px;
                            }
                            >.control{
                              position: initial;
                              width: 100%;
                              padding-bottom: 0;
                                >.field{
                                    padding-left: 0;
                                }
                            }
                          }
                          > .field:nth-child(4) {
                            width: 100%;
                              > .control{
                                  padding-left: 0;
                              }
                          }
                          > .field:nth-child(5) {
                            width: 100%;
                          }
                          > .field:nth-child(6) {
                            width: 100%;
                              > .control{
                                  padding-left: 0;
                              }
                          }
                          > .field:nth-child(7) {
                            width: 100%;
                              > .control{
                                  padding-left: 0;
                              }
                          }
                          > .field:nth-child(8) {
                            width: 100%;
                          }
                          > .field:nth-child(9) {
                            width: 100%;
                              > .control{
                                  padding-left: 0;
                              }
                          }
                          > .field:nth-child(10) {
                            width: 100%;
                              > .control{
                                  padding-left: 0;
                                  >.input-text{
                                      width: 100%;
                                      margin-right: 0;
                                      margin-left: 0;
                                  }
                                  .field-tooltip.toggle{
                                      display: none;
                                      position: absolute;
                                  }
                              }
                          }
                    }
                }
            }
            .form.form-login{
                padding: 0;
                max-width: 100%;
            }
        }
    }
    .opc-wrapper .form-shipping-address > .fieldset > .field, .opc-wrapper .billing-address-form > .fieldset > .field{
        flex-wrap: wrap;
    }
    .opc-wrapper {
        .form.form-login #customer-email-fieldset {
            > .field {
                flex-wrap: wrap;
                > .control{
                    width: 100%;
                }
            }
        }
    }
    .checkout-index-index {
        .address-fields {
            .checkout-billing-address {
                padding: 0;
                .fieldset {
                    .billing-address-form {
                        .fieldset.address {
                            > .field{
                                width: 100%;
                                flex-wrap: wrap;
                                height: initial;
                            }
                            > .field:first-child {
                                width: 100%;
                                  >.control{
                                      padding-left: 0;
                                  }
                              }
                              > .field:nth-child(2) {
                                width: 100%;
                                  >.label{
                                     display: none;
                                  }
                              }
                              > .field:nth-child(3) {
                                width: 100%;
                                .label{
                                  padding-top: 0;
                                }
                                >.control{
                                  position: initial;
                                  width: 100%;
                                  padding-left: 0;
                                  padding-bottom: 0;
                                    >.field{
                                        padding-left: 0;
                                    }
                                }
                              }
                              > .field:nth-child(4) {
                                width: 100%;
                                  > .control{
                                      padding-left: 0;
                                  }
                              }
                              > .field:nth-child(5) {
                                width: 100%;
                                  >.label{
                                      display: none;
                                  }
                              }
                              > .field:nth-child(6) {
                                width: 100%;
                                  > .control{
                                      padding-left: 0;
                                  }
                              }
                              > .field:nth-child(7) {
                                width: 100%;
                                  > .control{
                                      padding-left: 0;
                                  }
                              }
                              > .field:nth-child(8) {
                                width: 100%;
                              }
                              > .field:nth-child(9) {
                                width: 100%;
                                  > .control{
                                      padding-left: 0;
                                  }
                              }
                              > .field:nth-child(10) {
                                width: 100%;
                                  >.label{
                                      display: none;
                                  }
                                  > .control{
                                      padding-left: 0;
                                      >.input-text{
                                          width: 100%;
                                      }
                                      .field-tooltip.toggle{
                                          display: none;
                                          position: absolute;
                                      }
                                  }
                              }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:767px){
    .opc-progress-bar{
        display: none;
    }
    .checkout-shipping-address {
        #checkout-step-shipping {
            .login-form{
                width: 100%;
                padding-right: 0;
                margin-bottom: 25px;
            }
            .address-fields{
                width: 100%;
            }
        }
    }
    .checkout-index-index {
        #payment {
            #checkout-step-shipping-methods, #checkout-step-payment{
                width: 100%;
            }
        }
    }
    .opc-wrapper .form-login, .opc-wrapper .form-shipping-address, .opc-wrapper .methods-shipping{
        background: initial!important;
    }
    .checkout-index-index {
        #checkout-step-review {
            .opc-block-addresses-shipping-payment {
                .opc-block-addresses, .opc-block-shipping-payment{
                    width: 100%;
                }
                .opc-block-addresses{
                    margin-bottom: 25px;
                    .address-review{
                        padding-right: 0;
                        .address-review-content{
                            > div{
                                width: 100%!important;
                                margin-bottom: 25px;
                            }
                        }
                    }
                }
            }
        }
    }

    .checkout-index-index {
        .opc-block-review {
            .opc-block-summary {
                .table-totals, .block.items-in-cart{
                    padding: 0;
                }
                .data.table.table-totals tbody {
                    > tr > td{
                        width: 100px!important;
                    }
                }
                .minicart-items-wrapper {
                    .items-table {
                        .items-table-row {
                            .item-table-columns {
                                display: block;
                                .items-table-col{
                                    > .item-text{
                                        display: inline!important;
                                        &:after{
                                            content: ':';
                                            padding-right: 15px;
                                        }
                                    }
                                    &:nth-child(1){
                                        width: 100%;
                                    }
                                    &:nth-child(2),&:nth-child(3),&:nth-child(4){
                                        width: 100%;
                                        justify-content: flex-start;
                                    }
                                }
                            }
                            &.text{
                                display: none;
                            }
                        }
                    }
                }
            }
            .actions-toolbar-trigger{
                padding: 20px;
            }
        }
        .totals-tax-summary {
            .amount{
                position: initial;
            }
            th{
                border-bottom: 1px solid #fff!important;
            }
        }
    }
    .opc-wrapper .form-login, .opc-wrapper .form-shipping-address, .opc-wrapper .methods-shipping{
        margin: 15px 0 15px!important;
    }
}