<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
$urlExplainShippingTime = $baseUrl.'versandinfo';
?>
<div class="news-footer">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="footer-newsletter"><span class="required">*</span><?= __("Applies to deliveries inside Germany. Please find delivery times for other countries <a href='%1'>here</a>.",$urlExplainShippingTime )?></div>
        </div>
    </div>
</div>