<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 * @var \Magento\Framework\Escaper $escaper
 * @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer
 */
?>
<?php
$_imageHelper = $this->helper('Magento\Catalog\Helper\Image');
$themHelper = $this->helper('Commercers\Theme\Helper\Data');
$resizeW = 500;
$resizeH = 500;

$isProLayout = false;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
$categoryId = 0;
if($category) {
    $categoryId = $category->getId();
    $isProLayout = $category->getIsProLayout();
}

$mediaPath =  $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);


?>
<?php
$_productCollection = $block->getLoadedProductCollection();
/** @var \Magento\Catalog\Helper\Output $_helper */
$_helper = $block->getData('outputHelper');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty">
        <div><?= $escaper->escapeHtml(__('We can\'t find products matching the selection.')) ?></div>
    </div>
<?php else: ?>
    <div class="category-page-wrap <?= ($isProLayout) ? 'pro-layout' : 'basic-layout'?>">
        <div class="products wrapper">
            <?php if($isProLayout): ?>
                <div class="products list items product-items">
                    <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                    <?php $i = 0; foreach ($_productCollection as $_product): ?>

                        <?php
                        $isAuctionType = false;
                        $auctionType = explode(',',$_product->getAuctionType());
                        if(in_array(2,$auctionType)) {
                            $isAuctionType = true;
                        }
                        ?>

                        <?php //TODO  Open Row Total ?>
                        <?php if($i % 4 == 0):?>
                            <div class="row">
                        <?php endif; ?>

                        <?php //TODO  Open Row Child ?>
                        <?php if($i % 2 == 0):?>
                        <div class="item-wrap">
                        <div class="category-cms">
                            <?php
                            echo $this->getLayout()
                                ->createBlock('Magento\Cms\Block\Block')
                                ->setBlockId('layout_category_'.$categoryId.'_child_row_'.$i)
                                ->toHtml();
                            ?>
                        </div>
                        <div class="items">
                    <?php endif; ?>

                        <div class="item product product-item">
                            <div class="product-item-info"
                                 id="product-item-info_<?= /* @noEscape */ $_product->getId() ?>">
                                <div class="product-images-cart">
                                    <?php
                                    $flipImage = $themHelper->getFlipImage($_product->getId(), $resizeW, $resizeH);
                                    ?>
                                    <?php // Product Image ?>
                                    <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"
                                       class="product photo product-item-photo"
                                       tabindex="-1">
                                        <figure class="imghvr-flip-vert <?= ($flipImage) ? '' : 'no-flip'?>">
                                            <div class="img-front">
                                                <img src="<?php echo $_imageHelper->init($_product, 'product_base_image')->resize($resizeW,$resizeH)->getUrl(); ?>" />
                                            </div>
                                            <?php if($flipImage): ?>
                                                <figcaption>
                                                    <div class="img-back">
                                                        <img src="<?= $flipImage ?>" />
                                                    </div>
                                                </figcaption>
                                            <?php endif; ?>
                                        </figure>
                                    </a>
                                    <div class="product-item-inner">
                                        <div class="actions-primary">
                                            <?php if ($_product->isSaleable()):?>
                                                <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                <form data-role="tocart-form"
                                                      data-product-sku="<?= $escaper->escapeHtml($_product->getSku()) ?>"
                                                      action="<?= $escaper->escapeUrl($postParams['action']) ?>"
                                                      method="post">
                                                    <input type="hidden"
                                                           name="product"
                                                           value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
                                                    <input type="hidden"
                                                           name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>"
                                                           value="<?=
                                                           /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED]
                                                           ?>">
                                                    <?= $block->getBlockHtml('formkey') ?>

                                                    <?php if($_product->getAttributeSetId() == 10 || $_product->getAttributeSetId() == 15): ?>
                                                        <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>" class="action primary bottle"><?= __('Product details'); ?></a>
                                                    <?php elseif($isAuctionType): ?>
                                                        <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>" class="action primary auction"><?= __('Go to auction'); ?></a>
                                                    <?php else: ?>
                                                        <button type="submit"
                                                                title="<?= ($_product->getTypeId() == "configurable") ? __('Product details') : __('Add to Cart');?>"
                                                                class="action <?= ($_product->getTypeId() == "configurable") ? __('config tocart') : __('tocart');?> primary"
                                                                disabled>
                                                            <span><?= ($_product->getTypeId() == "configurable") ? __('Product details') : __('Add to Cart');?></span>
                                                        </button>
                                                    <?php endif; ?>
                                                </form>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                    <?php if(!$_product->isAvailable()): ?>
                                        <div class="out-of-stock-label">
                                            <img src="<?= $mediaPath.'wysiwyg/labels/out_of_stock_general.png' ?>" alt="">
                                        </div>
                                    <?php endif; ?>
                                    <?php if ($auctionLabel = $block->getChildBlock('product_list_label')) : ?>
                                        <?= $auctionLabel->setProduct($_product)->toHtml() ?>
                                    <?php endif; ?>
                                </div>
                                <div class="product details product-item-details">
                                    <?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
                                    <strong class="product name product-item-name">
                                        <a class="product-item-link"
                                           href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>">
                                            <?=/* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name')?>
                                        </a>
                                    </strong>
                                    <div class="price-tax-wrap <?php echo ($_product->getAttributeSetId() == 10 || $_product->getAttributeSetId() == 15) ? 'drink' : '' ?>">
                                        <div class="product-price">
                                            <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <?php //TODO  Close Row Child ?>
                        <?php if($i > 0 && $i % 2 == 1):?>
                        </div>
                        </div>
                    <?php endif; ?>

                        <?php //TODO  Close Row Total ?>
                        <?php if($i > 0 && $i % 4 == 3):?>
                            </div>
                        <?php endif; ?>
                        <?php $i++; endforeach; ?>

                </div>
            <?php else:  ?>
                <div class="products list items product-items">
                    <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                    <?php foreach ($_productCollection as $_product): ?>
                        <div class="item product product-item">
                            <div class="product-item-info"
                                 id="product-item-info_<?= /* @noEscape */ $_product->getId() ?>"
                            >
                                <div class="product-images-cart">
                                    <?php
                                    $flipImage = $themHelper->getFlipImage($_product->getId(), $resizeW, $resizeH);
                                    ?>

                                    <?php // Product Image ?>
                                    <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>"
                                       class="product photo product-item-photo"
                                       tabindex="-1">
                                        <figure class="imghvr-flip-vert <?= ($flipImage) ? '' : 'no-flip'?>">
                                            <div class="img-front">
                                                <img src="<?php echo $_imageHelper->init($_product, 'product_base_image')->resize($resizeW,$resizeH)->getUrl(); ?>" />
                                            </div>
                                            <?php if($flipImage): ?>
                                                <figcaption>
                                                    <div class="img-back">
                                                        <img src="<?= $flipImage ?>" />
                                                    </div>
                                                </figcaption>
                                            <?php endif; ?>
                                        </figure>
                                    </a>
                                    <div class="product-item-inner">
                                        <div class="actions-primary">
                                            <?php if ($_product->isSaleable()):?>
                                                <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                <form data-role="tocart-form"
                                                      data-product-sku="<?= $escaper->escapeHtml($_product->getSku()) ?>"
                                                      action="<?= $escaper->escapeUrl($postParams['action']) ?>"
                                                      method="post">
                                                    <input type="hidden"
                                                           name="product"
                                                           value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
                                                    <input type="hidden"
                                                           name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>"
                                                           value="<?=
                                                           /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED]
                                                           ?>">
                                                    <?= $block->getBlockHtml('formkey') ?>
                                                    <?php
                                                    $isAuctionType = false;
                                                    $auctionType = explode(',',$_product->getAuctionType());
                                                    if(in_array(2,$auctionType)) {
                                                        $isAuctionType = true;
                                                    }
                                                    ?>
                                                    <?php if($_product->getAttributeSetId() == 10 || $_product->getAttributeSetId() == 15): ?>
                                                        <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>" class="action primary bottle"><?= __('Product details'); ?></a>
                                                    <?php elseif($isAuctionType): ?>
                                                        <a href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>" class="action primary auction"><?= __('Go to auction'); ?></a>
                                                    <?php else: ?>
                                                        <button type="submit"
                                                                title="<?= ($_product->getTypeId() == "configurable") ? __('Product details') : __('Add to Cart');?>"
                                                                class="action <?= ($_product->getTypeId() == "configurable") ? __('config tocart') : __('tocart');?> primary"
                                                                disabled>
                                                            <span><?= ($_product->getTypeId() == "configurable") ? __('Product details') : __('Add to Cart');?></span>
                                                        </button>
                                                    <?php endif; ?>
                                                </form>
                                            <?php else:?>
                                                <?php if ($_product->isAvailable()):?>
                                                    <div class="stock available">
                                                        <span><?= $escaper->escapeHtml(__('In stock')) ?></span></div>
                                                <?php else:?>
                                                    <div class="stock unavailable">
                                                        <span><?= $escaper->escapeHtml(__('Out of stock')) ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="product details product-item-details">
                                    <?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
                                    <strong class="product name product-item-name">
                                        <a class="product-item-link"
                                           href="<?= $escaper->escapeUrl($_product->getProductUrl()) ?>">
                                            <?=/* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name')?>
                                        </a>
                                    </strong>
                                    <div class="price-tax-wrap <?php echo ($_product->getAttributeSetId() == 10 || $_product->getAttributeSetId() == 15) ? 'drink' : '' ?>">
                                        <div class="product-price">
                                            <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <?php if (!$block->isRedirectToCartEnabled()): ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= $escaper->escapeJs($_product->getSku()) ?>"
                }
            }
        }
        </script>
    <?php endif; ?>

<?php endif; ?>

