<?php
    $taxBlock= $block->getLayout()->createBlock('Commercers\PriceTax\Block\Price\Tax');
    $_product = $block->getProduct();
    $taxPercent = $taxBlock->getTaxPercent($_product);
    $shippingTime = $_product->getDeliveryTime();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $mediaPath =  $objectManager->get('Magento\Store\Model\StoreManagerInterface')
    ->getStore()
    ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>

<?php if($_product->getTypeId() =="virtual"): ?>
<div class="product-additional-info">
    <span class="tax-details">
        <span class="tax-text">
            <?= __('incl. tax ') ?>
        </span>
    </span>
</div>
<?php else: ?>
    <div class="product-additional-info">
    <span class="tax-details">
        <span class="tax-text">
            <?= __('incl. tax, free shipping inside Germany') ?>
        </span>
    </span>
    <span class="tax-ship">
        <span class="delivery-time">
        <?php if(!$shippingTime): ?>
            <?= __('Delivery Time: 3 – 4 Days*'); ?>
        <?php else:?>
            <?= __('Delivery Time: %1',$shippingTime);?>
        <?php endif;?>
        </span>
    </span>
</div>
<?php endif; ?>
<div class="refresh-div">
    <span><a class="refresh-button" title="<?= __('Refresh Page') ?>" href="<?= $_product->getProductUrl() ?>"><img src="<?= $mediaPath.'wysiwyg/refresh.png' ?>" alt=""></a></span>
</div>
