<?php
/**
 * Webkul_Auction product view page block template.
 * @category  Webkul
 * @package   Webkul_Auction
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$auctionData = $block->getAuctionDetail();
$aucConfig = $block->getAuctionConfiguration();
$serializedAuctionData = $block->getDataHelper()->jsonEncode($auctionData);
if ($auctionData && !$auctionData['new_auction_start']) {
    if ($auctionData['current_time_stamp'] >= $auctionData['start_auction_time_stamp']
        && $auctionData['current_time_stamp'] <= $auctionData['stop_auction_time_stamp']) {
        $difference= $auctionData['stop_auction_time_stamp'] - $auctionData['current_time_stamp'];
        ?>
        <div class="wk_product_background" style="border-top:1px solid #c1c1c1;">
            <div class="product-collateral">
                <div class="box-collateral box-tags">
                    <div id='bottom_lin'>
                        <div class='bid_title'><?= /* @noEscape */ $auctionData['auction_title'] ?></div>
                        <div class='margnbot'>
                            <div class="wk_row">
                                <label class='label'><?= /* @noEscape */ __('Minimum Qty:') ?></label>
                                <span class='value'><?= /* @noEscape */ $auctionData['min_qty']; ?></span>
                            </div>
                            <div class="wk_row">
                                <label class='label'><?= /* @noEscape */ __('Maximum Qty:') ?></label>
                                <span class='value'><?= /* @noEscape */ $auctionData['max_qty']; ?></span>
                            </div>
                        </div>
                    </div>
                    <?php if ($difference > 0) { ?>
                    <div class="form-add">
                        <div class='wk_row'>
                        <?php
                        if ($aucConfig['show_curt_auc_price']) { ?>
                            <span class='label'><?= /* @noEscape */ __('Current Bid :'); ?></span>
                            <span class='value'>
                            <?= /* @noEscape */ $block->formatPrice($auctionData['min_amount']) ;?>
                            </span>
                        <?php } ?>
                        <?php if ($aucConfig['show_auc_detail']) { ?>
                            <span class="bid_link">[
                                <a href="<?= /* @noEscape */ $block->getHistoryUrl($auctionData); ?>" target="_blank" class='anchr'>
                                    <?= /* @noEscape */ $block->getNumberOfBid($auctionData['entity_id']); ?>
                                </a>]
                            </span>
                        <?php } ?>
                        </div>
                        <div class='wk_row'>
                            <div class='label'><?= /* @noEscape */ __('Time Remaining -'); ?></div>
                            <div class="value count-down-clock" >
                                <p id="wk_front_dd_note" class="wk_front_dd_countdownnew" data-diff-timestamp ="<?= /* @noEscape */ $difference;?>"></p>
                            </div>
                        </div>
                        <div class="wk_wrap">
                            <form action="<?= /* @noEscape */ $block->getAuctionFormAction() ?>" enctype="multipart/form-data" method="post" class="mp_bidding_form" id="form-biddings-amount">
                                <?php if ($aucConfig['auto_enable'] && $auctionData['auto_auction_opt']) { ?>
                                <div class="input-box auto-bid" >
                                    <input type="checkbox" value="1" name="auto_bid_allowed" />
                                    <span><?= /* @noEscape */ __('Place Bid as Automatic') ?></span>
                                </div>
                                <?php } ?>
                                <input type="hidden" name="entity_id" value="<?= /* @noEscape */ $auctionData['entity_id']; ?>" />
                                <input type="hidden" name="product_id" value="<?= /* @noEscape */ $auctionData['product_id']; ?>" />
                                <input type="hidden" name="pro_name" value="<?= /* @noEscape */ $auctionData['pro_name']; ?>" />
                                <input type="hidden" name="auto_auction_opt" value="<?= /* @noEscape */ $auctionData['auto_auction_opt']; ?>" />
                                <input type="hidden" name="pro_url" value="<?= /* @noEscape */ $auctionData['pro_url']; ?>" />
                                <input type="hidden" name="stop_auction_time_stamp" value="<?= /* @noEscape */ $auctionData['stop_auction_time_stamp']; ?>">
                                <div class="input-box">
                                    <input type="text" name="bidding_amount" id="bidding_amount" class="input-text required-entry mpbidding_amount" placeholder="Enter Bid Amount" required="required" oncut="return false;" oncopy="return false;" onpaste="return false;"/>
                                </div>
                                <button class="action primary" id='target' title="<?= /* @noEscape */ __('Bidding') ?>" type="submit" >
                                    <span><?= /* @noEscape */ __('Place Bid') ?></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <?php } ?>
                </div>
            </div>
        </div>
        <?php
    //To Do
        $timezone="";
    } elseif ($auctionData['current_time_stamp'] >= $auctionData['stop_auction_time_stamp']) {
        $aftComp = $block->getAuctionDetailAftetEnd($auctionData);
        if ($aftComp['watting_user']) { ?>
            <div class="wk_product_background">
                <div class="product-collateral">
                    <div class="box-collateral box-tags wk_row">
                        <?php if ($aucConfig['show_auc_detail']) { ?>
                        <div class='bid_link'>
                            <span>
                                [<a href="<?= /* @noEscape */ $aftComp['watting_user']['auc_list_url']; ?>" target="_blank" class='anchr'>
                                    <?= /* @noEscape */ $aftComp['watting_user']['auc_url_lable']; ?>
                                </a>]
                            </span>
                        </div>
                    <?php } ?>
                        <h3><?= /* @noEscape */ $aftComp['watting_user']['msg_lable']; ?></h3>
                    </div>
                </div>
            </div>
    <?php } elseif ($aftComp['winner'] && $aftComp['winner']['price']) {
                $winner = $aftComp['winner'];
            if ($winner['time_for_buy'] > 0) {
                if ($winner['shop'] == 0) { ?>
                        <div id="winner-data-container" class="wk_product_background allow-for-buy" data-cart-label="<?= /* @noEscape */ __('Buy with ') . $block->formatPrice($winner['price']) ?>">
                            <div class="product-collateral">
                                <div id='bottom_lin' class="box-collateral box-tags wk_row">
                                    <div class='bid_title'><?= /* @noEscape */ $auctionData['auction_title'] ?></div>
                                    <div class='margnbot'>
                                        <div class="wk_row">
                                            <label class='label'><?= /* @noEscape */ __('Minimum Qty:') ?></label>
                                            <span class='value'><?= /* @noEscape */ $auctionData['min_qty']; ?></span>
                                        </div>
                                        <div class="wk_row">
                                            <label class='label'><?= /* @noEscape */ __('Maximum Qty:') ?></label>
                                            <span class='value'><?= /* @noEscape */ $auctionData['max_qty']; ?></span>
                                        </div>
                                    </div>
                                    <?php if ($aucConfig['show_auc_detail']) { ?>
                                        <div class="bid_link">
                                            [<a href="<?= /* @noEscape */ $block->getHistoryUrl($auctionData); ?>" target="_blank" class='anchr'>
                                            <?= /* @noEscape */ $block->getNumberOfBid($auctionData['entity_id']);
                                            ?>
                                            </a>]
                                        </div>
                                    <?php } ?>
                                    <div class='wk_row'>
                                        <div class='label'><?= /* @noEscape */ __('Time Remaining-'); ?></div>
                                        <div class="value count-down-clock">
                                            <p id="wk_front_dd_note" class="wk_front_dd_countdownnew" data-diff-timestamp ="<?= /* @noEscape */ $winner['time_for_buy'];?>"></p>
                                        </div>
                                    </div>
                                    <?= /* @noEscape */ __($aucConfig['show_winner_msg'].' Now, you can get it in '.$block->formatPrice($winner['price'])) ?>
                                <!--button type="button" title="Add to Cart" class="action primary btn-cart" onclick="productAddToCartForm.submit(this)">
                                    <span>
                                        <span><?php //echo __('Add to Cart') ?></span>
                                    </span>
                                </button-->
                            </div>
                        </div>
                    </div>
                    <?php } else { ?>
                    <div class="wk_product_background">
                        <div id="bottom_lin">
                            <div class='bid_title'><?= /* @noEscape */ $auctionData['auction_title'] ?></div>
                            <div class="wk_row">
                                <?= /* @noEscape */ __('you already bought this product');?>
                            </div>
                        </div>
                    </div>
                    <?php }
            }
    }
    }
}
?>
<script type="text/x-magento-init">
    {
        "body": {
            "Webkul_Auction/js/viewonhistory":
                {
                    "buyItNow": "<?= /* @noEscape */ __('Buy it now')?>",
                    "auctionData" : <?= /* @noEscape */ $serializedAuctionData?>,
                    "auctionType" : "<?= /* @noEscape */ $block->getProAuctionType()?>"
                }
        }
    }
</script>
