<?php
/**
 * Webkul_Auction product view page block template.
 * @category  Webkul
 * @package   Webkul_Auction
 * @author    Webkul
 * @copyright Copyright Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$auctionData = $block->getAuctionDetail();
$customerSession = $block->getCustomerSession();

$aucConfig = $block->getAuctionConfiguration();
$serializedAuctionData = $block->getHelperData()->jsonEncode($auctionData);


if ($auctionData && count($auctionData) > 1 && $auctionData['auction_status']!=3) {
    if ($auctionData['current_time_stamp'] >= $auctionData['start_auction_time_stamp']
        && $auctionData['current_time_stamp'] <= $auctionData['stop_auction_time_stamp']) {
        $difference= $auctionData['stop_auction_time_stamp'] - $auctionData['current_time_stamp'];
        ?>
        <div class="wk_product_background">
            <div class="product-collateral">
                <div class="box-collateral box-tags">
                    <?php if ($difference > 0) { ?>
                        <div id='bottom_lin'>
                            <div class="auction-timer-block">
                                <div class="wk-auction-timer-div">
                                    <div class="wk-auction-clock-main-div" data-bind="scope: 'section'">
                                        <div class="auction-bid-timer"><?= /* @noEscape */ __('Ends in') ?></div>
                                        <p class="wk_front_dd_countdownnew" id="wk_front_dd_note" data-diff-timestamp ="<?= /* @noEscape */ $auctionData['stop_auction_time_stamp'];?>"></p>
                                        <input type="hidden" class="wk_front_dd_countdownnew_current_time" id="current_time"></p>
                                    </div>
                                    <?php if ($aucConfig['show_auc_detail']) { ?>
                                        <div class="wk-auction-bid-details">
                                            <div class="auction-bid-first-column">
                                                <div class="wk_row">
                                                    <label ><?= /* @noEscape */ __('Starting price:') ?></label>
                                                    <span class='value'><?= /* @noEscape */ $block->formatPrice($auctionData['starting_price']) ;?></span>
                                                </div>
                                            </div>
                                        </div>
                                    <?php } ?>
                                    <div class="wk-auction-current-bid" >
                                        <?php if($customerSession->isLoggedIn() && $customerSession->getCustomerId() == $auctionData['customer_id']):?>
                                            <?php if ($aucConfig['show_auc_detail']) { ?>
                                                <div class="bid_link" >
                                                    <a href="#bid-details" class='wk-auction-view-bid-link anchr'>
                                                        <?= /* @noEscape */ __('We had %1 so far, you placed the highest bid: ',$block->getNumberOfBid($auctionData['entity_id'])); ?>
                                                    </a>
                                                </div>
                                            <?php } ?>
                                        <?php else: ?>
                                            <?php if ($aucConfig['show_auc_detail']) { ?>
                                                <div class="bid_link" >
                                                    <a href="#bid-details" class='wk-auction-view-bid-link anchr'>
                                                        <?= /* @noEscape */ __('We had %1 so far, current bid price is: ',$block->getNumberOfBid($auctionData['entity_id'])); ?>
                                                    </a>
                                                </div>
                                            <?php } ?>
                                        <?php endif;?>
                                        <?php if ($aucConfig['show_curt_auc_price']) { ?>
                                            <div class="amount-wrap">
                                <span class="wk-auction-clock-span-current-amount">
                                    <?= /* @noEscape */ $block->formatPrice($auctionData['current_auction_amount']) ;?>
                                </span>
                                                <?php echo $this->getLayout()->createBlock("Magento\Catalog\Block\Product\View")->setTemplate("Webkul_Auction::additional_info.phtml")->toHtml() ?>
                                            </div>
                                        <?php } ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-add">
                            <div class="wk_wrap">
                                <form action="<?= /* @noEscape */ $block->getAuctionFormAction() ?>" enctype="multipart/form-data" method="post" class="mp_bidding_form" id="form-biddings-amount" data-mage-init='{"validation":{}}'>
                                    <input type="hidden" name="entity_id" value="<?= /* @noEscape */ $auctionData['entity_id']; ?>" />
                                    <input type="hidden" name="product_id" value="<?= /* @noEscape */ $auctionData['product_id']; ?>" />
                                    <input type="hidden" name="pro_name" value="<?= /* @noEscape */ $auctionData['pro_name']; ?>" />
                                    <input type="hidden" name="auto_auction_opt" value="<?= /* @noEscape */ $auctionData['auto_auction_opt']; ?>" />
                                    <input type="hidden" name="pro_url" value="<?= /* @noEscape */ $auctionData['pro_url']; ?>" />
                                    <input type="hidden" name="stop_auction_time_stamp" value="<?= /* @noEscape */ $auctionData['stop_auction_time_stamp']; ?>">
                                    <div class="input-box">
                                        <div class="rule">
                                            <input class="input required-entry" type="checkbox" id="check" name="check" value="1" data-validate="{required:true, 'validate-one-required-by-name':true}" />
                                            <label for="check"><a target="_blank" href="/auktionsregeln"><?= __('I am aware of the auction rules.'); ?></a></label>
                                        </div>
                                        <input type="text" name="bidding_amount" id="bidding_amount" class="input-text required-entry mpbidding_amount" placeholder="<?= __('Enter Bid Amount ') ?>" required="required" oncut="return false;" oncopy="return false;" onpaste="return false;"/>
                                        <span class="symbol-eur">€</span>
                                        <button class="action primary" id='target' title="<?= /* @noEscape */ __('Bidding') ?>" type="submit" >
                                            <span><?= /* @noEscape */ __('Bid Now') ?></span>
                                        </button>
                                        <div class="input-box auto-bid" >
                                            <?php if ($aucConfig['auto_enable'] && $auctionData['auto_auction_opt']) { ?>
                                                <input type="checkbox" value="1" name="auto_bid_allowed" id="auto_bid_allowed"/>
                                                <span><?= /* @noEscape */ __('Place Bid as Automatic') ?></span>
                                            <?php } ?>
                                        </div>
                                        <?php if ($aucConfig['fee_deduction_status'] && $aucConfig['enable_wallet']) { ?>
                                            <div class="input-box notification" >
                                                <h3><?= /* @noEscape */ __('The %1% amount will be deducted from auction wallet on each bid placed', $aucConfig['fee_deduction']) ?></h3>
                                            </div>
                                        <?php } ?>
                                        <?php if ($auctionData['outbid_status']) { ?>
                                            <div class="input-box notification" >
                                                <h3><?= /* @noEscape */ $auctionData['outbid_msg']; ?></h3>
                                            </div>
                                        <?php } ?>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <?php } ?>
                </div>
            </div>
        </div>
        <?php
        //To Do
        $timezone="";
    } elseif ($auctionData['current_time_stamp'] < $auctionData['start_auction_time_stamp']) {
        $difference= $auctionData['start_auction_time_stamp'] - $auctionData['current_time_stamp'];
        ?>
        <div class="wk_product_background">
            <div class="product-collateral">
                <div class="box-collateral box-tags">
                    <?php if ($difference > 0) { ?>
                        <div id='bottom_lin'>
                            <div class='bid_title'><?= /* @noEscape */ $auctionData['auction_title'] ?></div>
                            <div class="auction-timer-block">
                                <div class="wk-auction-timer-div">
                                    <div class="wk-auction-clock-main-div" data-bind="scope: 'section'">
                                        <div class="auction-bid-timer"><?= /* @noEscape */ __('Starts in') ?></div>
                                        <p class="wk_front_dd_countdownnew" id="wk_front_dd_note" data-diff-timestamp ="<?= /* @noEscape */ $auctionData['stop_auction_time_stamp'];?>"></p>
                                        <input type="hidden" class="wk_front_dd_countdownnew_current_time" id="current_time"></p>
                                    </div>
                                    <div class="wk-auction-current-bid" >
                                        <?php if ($aucConfig['show_curt_auc_price']) { ?>
                                            <div class="auction-bid-timer"><?= /* @noEscape */ __('Current Bid Amount') ?></div>

                                            <div class="wk-auction-clock-span-current-amount"> <?= /* @noEscape */ $block->formatPrice($auctionData['current_auction_amount']) ;?></div>
                                        <?php } ?>
                                        <?php if ($aucConfig['show_auc_detail']) { ?>
                                            <div class="bid_link" >
                                                <a href="#bid-details" class='wk-auction-view-bid-link anchr'>
                                                    <?= /* @noEscape */ $block->getNumberOfBid($auctionData['entity_id']); ?>
                                                </a>

                                            </div>
                                        <?php } ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php if ($aucConfig['show_auc_detail']) { ?>
                            <div class="wk-auction-bid-details">
                                <div class="auction-bid-first-column">
                                    <div class="wk_row">
                                        <label ><?= /* @noEscape */ __('Minimum Qty:') ?></label>
                                        <span class='value'><?= /* @noEscape */ $auctionData['min_qty']; ?></span>
                                    </div>
                                    <div class="wk_row">
                                        <label ><?= /* @noEscape */ __('Open Bid Amount:') ?></label>
                                        <span class='value'><?= /* @noEscape */ $block->formatPrice($auctionData['starting_price']) ;?></span>
                                    </div>
                                </div>
                                <div class="auction-bid-second-column">
                                    <div class="wk_row">
                                        <label ><?= /* @noEscape */ __('Maximum Qty:') ?></label>
                                        <span class='value'><?= /* @noEscape */ $auctionData['max_qty']; ?></span>
                                    </div>
                                    <?php if ($aucConfig['show_curt_auc_price']) { ?>
                                        <div class="wk_row wk_minimum_bid_amount">
                                            <label ><?= /* @noEscape */ __('Next Minimum Bid Amount:') ?></label>
                                            <span class='value'><?= /* @noEscape */ $block->formatPrice($auctionData['min_amount'] + 0.01) ;?></span>
                                        </div>
                                    <?php } ?>
                                </div>
                            </div>
                        <?php } ?>
                    <?php } ?>
                </div>
            </div>
        </div>
        <?php
        //To Do
        $timezone="";
    } elseif ($auctionData['current_time_stamp'] >= $auctionData['stop_auction_time_stamp']) {
        $aftComp = $block->getAuctionDetailAftetEnd($auctionData);
        if ($aftComp['watting_user']) { ?>
            <div class="wk_product_background">
                <div class="product-collateral">
                    <div class="box-collateral box-tags wk_row">
                        <?php if ($aucConfig['show_auc_detail']) { ?>
                            <div class='bid_link'  >
                            <span>

                            </span>
                            </div>

                        <?php } ?>
                        <h3><?= /* @noEscape */ $aftComp['watting_user']['msg_lable']; ?></h3>
                    </div>
                </div>
            </div>
        <?php }
        elseif (!$aftComp['watting_user'] && !$aftComp['winner']) { ?>
            <div class="wk_product_background">
                <div class="product-collateral">
                    <div class="box-collateral box-tags wk_row">
                        <h3><?= __('Bidding has been done for this product.'); ?></h3>
                    </div>
                </div>
            </div>
        <?php }
        elseif ($aftComp['winner'] && $aftComp['winner']['price']) {
            $winner = $aftComp['winner'];
            if ($winner['time_for_buy'] > 0) {
                if ($winner['shop'] == 0) {  ?>
                    <div id="winner-data-container" class="wk_product_background allow-for-buy" data-cart-label="<?= /* @noEscape */ __('Amount to pay ') . $block->formatPrice($auctionData['current_auction_amount']) ?>">
                        <div class="product-collateral">
                            <div id='bottom_lin' class="box-collateral box-tags wk_row">
                                <div class='bid_title'>
                                    <?= /* @noEscape */ __('Yeah. Du hast diesen Artikel ersteigert. Vielen Dank! Damit unterstützt du die NO HATE Aktion. Bitte lege den Artikel innerhalb der unten angegebenen Frist in den Warenkorb und bezahle ihn. Verpasst du die Frist, müssen wir leider eine neue Auktion für diesen Artikel starten. Deine Frist endet in:') ?>
                                </div>
                                <div class="auction-timer-block">
                                    <div class="wk-auction-timer-div">
                                        <div class="wk-auction-clock-main-div"  data-bind="scope: 'section'">
                                            <input type="hidden" class="wk_front_dd_countdownnew_current_time new" id="current_time" ></p>
                                            <?php
                                            $day = strtotime($auctionData['stop_auction_time']. ' + '.$auctionData['days'].' days'); ?>
                                            <p class="wk_front_dd_countdownnew" id="wk_front_dd_note" data-diff-timestamp ="<?= /* @noEscape */ $day;?>"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php  } else {   ?>
                    <div class="wk_product_background">
                        <div id="bottom_lin">
                            <div class='bid_title'><?= /* @noEscape */ $auctionData['auction_title']; ?></div>
                            <div class="wk_row">
                                <?= /* @noEscape */ __('you already bought this product');?>
                            </div>
                        </div>
                    </div>
                <?php }
            }
        }
    } ?>
    <style>
        <?php if ($auctionData['current_auction_amount'] <= 9999) { ?>
        .wk-auction-clock-span-current-amount {
            font-size: 3.0rem;
        }
        .wk_minimum_bid_amount {
            display: inline-flex;
        }
        <?php } ?>
        <?php if ($auctionData['current_auction_amount'] > 9999 && $auctionData['current_auction_amount'] < 99999) {?>
        .wk-auction-clock-span-current-amount {
            font-size: 2.0rem;
            font-weight: 600;
        }
        .wk_minimum_bid_amount {
            display: inline-flex;
        }
        <?php } ?>
        <?php if ($auctionData['current_auction_amount'] > 99999 && $auctionData['current_auction_amount'] < 9999999) {?>
        .wk-auction-clock-span-current-amount {
            font-size: 1.0rem;
            font-weight: 600;
        }
        .wk_minimum_bid_amount {
            display: inline-flex;
        }
        <?php } ?>
    </style>
<?php } else { ?>
    <style>
        .product-add-form {
            display: block;
        }
    </style>
<?php }
?>
<style>
    .wk-auction-clock-label-hr span,
    .wk-auction-clock-label-mi span,
    .wk-auction-clock-label-sec span,
    .wk-auction-clock-label-dd span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 58px;
        display: inline-block;
    }
    .wk-auction-clock-label-hr span:hover,
    .wk-auction-clock-label-mi span:hover,
    .wk-auction-clock-label-sec span:hover,
    .wk-auction-clock-label-dd span:hover {
        overflow: visible;
        white-space: normal;
        width: auto;
        position: relative;
        background-color:#FFF;
    }

</style>
<script type="text/x-magento-init">
    {
        "body": {
            "Webkul_Auction/js/viewonproduct":
                {
                    "buyItNow": "<?= /* @noEscape */ __('Buy it now')?>",
                    "auctionData" : <?= /* @noEscape */ $serializedAuctionData?>,
                    "auctionType" : "<?= /* @noEscape */ $block->getProAuctionType()?>",
                    "cacheFlush"  : "<?= /* @noEscape */ $block->getUrl('auction/account/product');?>",
                    "currentTimeUrl"  : "<?= /* @noEscape */ $block->getProudctCurrentTimeUrl();?>"
                }
        }
    }
</script>
