<?php
    $actionValues = $block->getActionValues();
    //echo '<pre>';var_dump($actionValues);
?>

<table class="data-table admin__table-primary edit-order-table">

    <tr>
        <td>
            <?php echo __("Set status to be"); ?>
        </td>
        <td>
            <select name="actions[set_order_status]" data-form-part="profilers_form" class="admin__control-text">
                <?php $statuses = $block->getStatusOptions(); ?>
                <option value="0"><?php echo __("No Action"); ?></option>
                <?php foreach ($statuses as $status) :
                    $selected = ''; if(isset($actionValues['set_order_status']) && $actionValues['set_order_status'] == $status['value']) $selected = "selected=selected";
                    ?>
                    <option value="<?php echo $status['value'];?>" <?php echo $selected; ?> ><?php echo $status['label'];?></option>
                <?php endforeach;?>
            </select>
        </td>
    </tr>


    <tr>
        <td>
            <?php echo __("Add a comment history"); ?>
        </td>
        <td>
            <input name="actions[set_comment_history]" value="<?php echo isset($actionValues['set_comment_history']) ? $actionValues['set_comment_history'] : ''; ?>" class="admin__control-text input-text admin__control-text " data-form-part="profilers_form" />
        </td>
    </tr>


    <tr>
        <td>
            <?php echo __("Invoice order after exporting"); ?>
        </td>
        <td>
            <select name="actions[create_invoice]" data-form-part="profilers_form">
                <option value="0"><?php echo __("No");?></option>
                <option value="1" <?php echo !empty($actionValues['create_invoice']) ? "selected=selected" : ''; ?>><?php echo __("yes");?></option>
            </select>
        </td>
    </tr>

    <tr>
        <td>
            <?php echo __("Notify customer about invoice"); ?>
        </td>
        <td>
            <select name="actions[send_invoice_email]" data-form-part="profilers_form">
                <option value="0"><?php echo __("No");?></option>
                <option value="1" <?php echo !empty($actionValues['send_invoice_email']) ? "selected=selected" : ''; ?>  ><?php echo __("yes");?></option>
            </select>
        </td>
    </tr>



</table>
