<?php 
    $eventValues = $block->getEventValues();
    //print_r($eventValues);
?>

<table class="data-table admin__table-primary edit-order-table">
    
    <tr>
        <td>
            <?php echo __("Automatically Events"); ?>
        </td> 
        <td>
            <?php $events = $block->getEvents();?>
            <?php foreach($events as $eventCode => $event):?>
            <div>
                <input type="checkbox" name="events[<?php echo $eventCode;?>]" value="1" <?php echo !empty($eventValues[$eventCode]) ? 'checked' : '';?> data-form-part="profilers_form" />
                <label><?php echo __($event['title']);?></label>
            </div>
            <?php endforeach;?>
        </td>
    </tr>
    
</table>