<table class="data-table admin__table-primary edit-order-table">
    
    <tr>
        <td>
            <?php echo __("Set status to be"); ?>
        </td> 
        <td>
            
        </td>
    </tr>
    
    
    
    
    
    
</table>