
<?php
$currProduct = $this->getCurrentProduct();
$childsProductOutStock = $this->getChildsProductOutStock();
$emailPlaceHolder = $this->getEmailPlaceHolder();
// $item["entity_id"] is id of product out stock;
?>
<?php
if($childsProductOutStock && $this->customerIsLoggedIn()){
    ?>
    <div class="reminder-outstock-form">
        <form class="form" id="custom-form" method="post" novalidate="novalidate" >
            <div class="reminder-product-size" >
                <div class="text-notice">
                    <p><?= __("Let me know when my size is back in stock!") ?></p>
                </div>
                <div class="list-size-out-stock">
                    <?php
                    foreach ($childsProductOutStock as $item){
                        if($item["sock_size_label"]){
                            ?>
                            <button value="<?=$item["entity_id"]?>" class="size-out-stock-item number" ><?= $item["sock_size_label"]?></button>
                            <?php
                        }else{
                            ?>
                            <button value="<?=$item["entity_id"]?>" class="size-out-stock-item text"><?= $item["size_label"]?></button>
                            <?php
                        }
                    }
                    ?>
                </div>
                <div class="email-customer">
                    <input class="input-text"
                           type="email"
                           name="username"
                           data-validate="{required:true, 'validate-email':true}"
                           placeholder="<?= $emailPlaceHolder ?>"
                           id="email-enter"/>
                </div>
                <button class="submit-data" id="submit-data"><?= __("Submit") ?></button>
            </div>
        </form>
        <div class="message-error"></div>
        <div class="message-success"></div>
        <input class="product-id-customer-select" id="product-id-customer-select" type="hidden">
    </div>
    <?php
}
?>
<?php
$data = [
    'urlReminderCustomer' => $this->getBaseUrls(). 'reminderemail/customer/reminder',
];
?>
<script type="text/x-magento-init">
        {
            "*": {
                "reminder_size": <?= json_encode($data); ?>
            }
        }
</script>
<script type="text/x-magento-init">
    {
        "#custom-form": {
            "validation": {}
        }
    }
</script>
