<?php
/**
 * Webkul Software
 *
 * @category Webkul
 * @package Webkul_Auction
 * @author Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license https://store.webkul.com/license.html
 */
?>
<?php
$maximumAmount = 0;
 $helper = $block->getHelperData();
if ($helper->getWalletenabled()):
    $customerId = $helper->getCustomerId();
    $currency_code = $helper->getCurrentCurrencyCode();
    $id = $helper->getWalletProductId(); ?>
    <div class="wk_ws_main">
        <div class='wk_ws_main_head'>
            <div class="wk_ws_sub_head1">
                <img src='<?= /* @noEscape */ $block->getViewFileUrl('Webkul_Auction::images/auction.png');?>' width="70px" height="55px"/>
            </div>
            <div class="wk_ws_sub_head2">
                <h2><?= /* @noEscape */ __('Auction Wallet Details');?></h2>
                <h3><span class="wk_ws_price"><?= /* @noEscape */ $block->getWalletRemainingTotal($customerId)?></span><?= /* @noEscape */ "(".$currency_code.")"?></h3>
                <span><?= /* @noEscape */ __("Your Auction Wallet Balance")?></span>
            </div>
        </div>
        <div class='wk_ws_body'>
            <fieldset class='wk_ws_fieldset'>
                <h4><?= /* @noEscape */ __('Enter Amount to be Added in wallet')?></h4>
                <label class="error"></label>
                <form action="<?= /* @noEscape */ $block->getUrl('auction/index/addwallettocart/')?>" enctype="multipart/form-data" method="post" id="form-custom-data">
                    <?= /* @noEscape */ $block->getBlockHtml('formkey')?>
                    <input type="hidden" value='<?= /* @noEscape */ $id?>' name='product'/>
                   
                    <!-- <input type="hidden" value='651' name='product'/> -->
                     <input type="hidden" value='1' name='qty'/>
                    <div class='wk_ws_price_outer'>
                        <input type="text" name='price' id="wk_ws_price" class="required-entry validate-number validate-greater-than-zero" min=<?= /* @noEscape */ $block->getMinimumAmount()?> />
                    </div>
                    <div>
                        <span>[<?= /* @noEscape */ $currency_code;?>]</span>
                        <button type="submit" title="Add to Cart" class="button wk_ws_add_payment"><span><span><?= /* @noEscape */ __("Add Money To Wallet")?></span></span></button>
                    </div>
                </form>
            </fieldset>
        </div>
        <div class='wk_ws_table'>
            <h3><?= /* @noEscape */ __('Last Transactions')?></h3>
            <?php $walletCollection = $block->getwalletTransactionCollection();
            if (count($walletCollection)): ?>
                <div class='table-wrapper'>
                    <table class="data table walletorder data table">
                        <thead>
                            <tr>
                                <th scope="col" class="col description">
                                    <?= /* @noEscape */ __('Reference')?>
                                </th>
                                <th scope="col" class="col debit"><?= /* @noEscape */ __('Debit')?></th>
                                <th scope="col" class="col credit"><?= /* @noEscape */ __('Credit')?></th>
                                <th scope="col" class="col credit"><?= /* @noEscape */ __('Transaction At')?></th>
                                <th scope="col" class="col status"><?= /* @noEscape */ __('Status')?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($walletCollection as $record):
                                ?>
                                <tr>
                                    <td
                                        data-th="transaction_note"
                                        class="col description"
                                        >
                                        <?= /* @noEscape */ $record->getTransactionNote()?>
                                    </td>
                                    <?php if ($record->getAction()=='debit'): ?>
                                        <td data-th="<?= /* @noEscape */ __("Debit")?>" class="col debit">
                                            <?php

                                            $currencySymbol = $helper->getCurrencySymbol($record->getCurrencyCode());
                                          /* @noEscape */  echo $currencySymbol.$record->getCurrAmount();?>
                                        </td>
                                        <td data-th="<?= /* @noEscape */ __("Credit")?>" class="col credit">
                                            <?= /* @noEscape */ __("-")?>
                                        </td>
                                    <?php else: ?>
                                        <td data-th="<?= /* @noEscape */ __("Debit")?>" class="col debit">
                                            <?= /* @noEscape */ __("-")?>
                                        </td>
                                        <td data-th="<?= /* @noEscape */ __("Credit")?>" class="col credit">
                                            <?php /* @noEscape */
                                            $currencySymbol = $helper->getCurrencySymbol($record->getCurrencyCode());
                                            echo $currencySymbol.$record->getCurrAmount();?>
                                        </td>
                                    <?php endif; ?>
                                    <td data-th="<?= /* @noEscape */ __("Credit")?>" class="col credit">
                                        <?= /* @noEscape */  $block->getLocaleDateTime($record->getTransactionAt());?>
                                    </td>
                                    <td data-th="<?= /* @noEscape */ __("Status")?>" class="col status">
                                        <?= /* @noEscape */ $record->getStatus()?__('Approved'):__('Pending')?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
                <?php if ($block->getPagerHtml()): ?>
                    <div class="order-transaction-toolbar toolbar bottom"><?= /* @noEscape */ $block->getPagerHtml(); ?></div>
                <?php endif ?>
            <?php else: ?>
                <h5><?= /* @noEscape */ __('No records found!');?></h5>
            <?php endif; ?>
        </div>
    </div>
<?php else: ?>
    <h3><?= /* @noEscape */ __('Wallet is not enabled.')?></h3>
<?php endif; ?>
<?php
$formData = [
    'auctionformdata'    =>  '#form-custom-data'
];
$serializedFormData = $block->getJsonHelper()->jsonEncode($formData);
?>
<script type="text/x-magento-init">
{
    "*": {
        "Wkauction": <?= /* @noEscape */ $serializedFormData; ?>
    }
}
</script>
