<?php

/**
 * Webkul Software
 *
 * @category Webkul
 * @package Webkul_Auction
 * @author Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license https://store.webkul.com/license.html
 */
?>
<?php
$helper = $block->getHelperData();
if ($helper->getWalletenabled()):
    $customerId = $helper->getCustomerId(); ?>
    <form class="form" action="<?= /* @noEscape */ $block->getUrl('auction/index/save') ?>" method="post" id="form-transfer-data" data-mage-init='{"validation":{}}' enctype="multipart/form-data" data-hasrequired="<?= /* @noEscape */ __('* Required Fields') ?>" autocomplete="off">
        <div class="wk-mp-design">
            <fieldset class="fieldset info wk-mp-fieldset">
                <?= /* @noEscape */ $block->getBlockHtml('formkey') ?>
                <div class="wk-auction-page-title page-title">
                    <button class="button wk-save-btn action save primary" title="<?= /* @noEscape */ __('Save') ?>" type="submit">
                        <span><span><?= /* @noEscape */ __('Save') ?></span></span>
                    </button>
                </div>
                <div class="field required">
                    <label class="label"><span><?= /* @noEscape */ __("Enter Your Bank Details"); ?></span></label>
                    <div class="control">
                        <textarea name='bank_details' id="bank_details" class="required-entry" rows="4" cols="50" data-validate="{required:true}"></textarea>
                    </div>
                </div>
                <div class="field required">
                    <label class="label"><span><?= /* @noEscape */ __("Amount:"); ?></span></label>
                    <div class="control">
                        <input id="amount" type="text" name="amount" data-validate="{required:true,'validate-not-negative-number':true}" />
                    </div>
                </div>
                <div class="field required">
                    <label class="label"><span><?= /* @noEscape */ __("Note:"); ?></span></label>
                    <div class="control">
                        <textarea name='note' id="note" class="required-entry" rows="4" cols="50" data-validate="{required:true}"></textarea>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
<?php else: ?>
    <h3><?= /* @noEscape */ __('You do not have amount to transfered') ?></h3>
<?php endif; ?>