<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="block items-in-cart active">
    <div class="title" data-role="title">
        <strong role="heading" aria-level="1">
            <translate args="maxCartItemsToDisplay" if="maxCartItemsToDisplay < getCartLineItemsCount()"/>
            <translate args="'of'" if="maxCartItemsToDisplay < getCartLineItemsCount()"/>
            <span data-bind="text: getCartSummaryItemsCount()"></span>
            <translate args="'Item in Cart'" if="getCartLineItemsCount() === 1"/>
            <translate args="'Items in Cart'" if="getCartLineItemsCount() > 1"/>
        </strong>
    </div>
    <div class="content minicart-items" data-role="content">
        <div class="minicart-items-wrapper overflowed">
            <div class="items-table">
                <div class="items-table-row text">
                    <div class="item-table-columns">
                        <div class="items-table-col"><span data-bind="i18n: 'Items'"></span></div>
                        <div class="items-table-col"><span data-bind="i18n: 'Qty'"></span></div>
                        <div class="items-table-col"><span data-bind="i18n: 'Price'"></span></div>
                        <div class="items-table-col"><span data-bind="i18n: 'Subtotal'"></span></div>
                    </div>
                </div>
                <each args="items()">
                    <div class="items-table-row minicart-items">
                        <each args="$parent.elems()" render=""/>
                    </div>
                </each>
            </div>
        </div>
    </div>
    <div class="actions-toolbar" if="maxCartItemsToDisplay < getCartLineItemsCount()">
        <div class="secondary">
            <a class="action viewcart" data-bind="attr: {href: cartUrl}">
                <span data-bind="i18n: 'View and Edit Cart'"></span>
            </a>
        </div>
    </div>
</div>
