<?php
/**
 * @var $block Commercers\TrackingInterface\Block\Adminhtml\Form\Action
 */
$importActions = $block->getTrackingImportValues();
?>
<table class="data-table admin__table-primary edit-import-table">


    <tr>
        <td>
            <?php echo __("Send tracking email"); ?>
        </td>
        <td>
            <input type="checkbox" name="import_actions[send_email]"
                   data-form-part="profilers_form" class="admin__control-input"
                <?php
                if (isset($importActions['send_email'])) {
                    if ((int)$importActions['send_email'] == 1) {
                        echo "checked";
                    }
                }
                ?>
            />
        </td>
    </tr>
</table>
<table class="data-table admin__table-primary" style="margin-top: 30px">
    <tr>
        <td>
            <?php echo __("Send Notification"); ?>
        </td>
        <td>
            <input type="text" name="import_actions[error_email]"
                   data-form-part="profilers_form" class="admin__control-text"
                   value="<?php echo isset($importActions['error_email']) ? $importActions['error_email'] : '' ?>"/>
        </td>
    </tr>
    <tr>
        <td>
            <?php echo __("Email Template"); ?>
        </td>
        <td>
            <select data-form-part="profilers_form" class="admin__control-text"
                    name="import_actions[error_email_template]" id="email_template">
                <option value="0"><?php echo __("Choose..."); ?></option>
                <?php foreach ($block->getEmailTemplate() as $emailTemplate):
                    $selected = '';
                    if (isset($importActions['error_email_template']) && $importActions['error_email_template'] == $emailTemplate['value']) $selected = "selected";
                    ?>

                    <option value="<?php echo $emailTemplate['value']; ?>" <?php echo $selected; ?> ><?php echo $emailTemplate['label']; ?></option>
                <?php endforeach; ?>
            </select>
        </td>
    </tr>
</table>