
{{template config_path="design/email/header_template"}}
<table>
    <tr>{{trans "ERROR : %error" error=$error}}</tr>
    <tr>{{trans "Messages: %messages" messages=$messages}}</tr>
</table>
{{template config_path="design/email/footer_template"}}