.catalog-product-view{

    .reminder-product-size{
        border-top: 1px solid #979797;
        padding-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            background: transparent;
            &:hover{
                background: #FEFEFE;
                color: #000000;
            }
        }
        .text-notice{
            width: 27%;
            p{
                font-size: 13px;
            }
        }
        .list-size-out-stock{
            .active{
                background: #FEFEFE;
                color: #000000;
            }
            //width: 30%;
        }
        .email-customer{
            //width: 25%;
        }
        .active{
        }
    }
}
