.catalog-product-view{
    #custom-form{
        .size-out-stock-item{
            cursor: pointer;
            padding: 5px 10px;
            border: 1px solid #fff;
            &:hover{
                background: #fff;
                color: #000;
            }
            &.active{
                background: #fff;
                color: #000;
            }
        }
    }
    .product-add-form{
        .swatch-option.text{
            font-size: 16px;
            font-weight: 600;
            margin: 0;
            padding: 7px 15px;
            font-size: 1.4rem;
            margin: 0 7.5px 3.75px 0;
            &.disabled{
                &::after{
                    background: #fff;
                    width: 92px;
                    height: 1px;
                    z-index: 100;
                    bottom: 20px;
                    transform-origin: 62% bottom;
                    transform: rotate(
                        -26deg
                    );
                    top: 8px;
                    left: -5px;
                }
            }
        }
    }
    .reminder-outstock-form{
        .message-error{
            padding-top: 25px;
            margin-bottom: 5px;
            p{
                border: 1px solid #fff;
                padding: 5px 5px 5px 30px;
                position: relative;
                font-size: 16px;
                &::before{
                    color: #fff !important;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 24px;
                    line-height: 24px;
                    color: #b30000;
                    content: '\e61f';
                    font-family: 'luma-icons';
                    margin: -12px 0 0;
                    vertical-align: middle;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;
                    speak: none;
                    left: 3px;
                    top: 16px;
                    position: absolute;
                    text-align: center;
                }
            }
        }
        .message-success{
            margin-bottom: 5px;
            p{
                border: 1px solid #fff;
                padding: 5px 5px 5px 30px;
                position: relative;
                font-size: 16px;
                &::before{
                    color: #fff !important;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 24px;
                    line-height: 24px;
                    color: #006400;
                    content: '\e60e';
                    font-family: 'luma-icons';
                    margin: -12px 0 0;
                    vertical-align: middle;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;
                    speak: none;
                    left: 3px;
                    top: 16px;
                    position: absolute;
                    text-align: center;
                }
            }
        }
    }

    .reminder-product-size{
        border-top: 1px solid #979797;
        padding-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .submit-data{
            &[disabled="disabled"]{
                border: 1px solid #979797;
                color: #fff;
                cursor: not-allowed;
                opacity: 1;
            }
        }
        button{
            background: transparent;
            &:hover{
                background: #FEFEFE;
                color: #000000;
            }
        }
        .text-notice{
            width: 27%;
            p{
                font-size: 13px;
            }
        }
        .list-size-out-stock{
            .active{
                background: #FEFEFE;
                color: #000000;
            }
            //width: 30%;
        }
        .email-customer{
            #email-enter-error{
                position: absolute;
            }
        }
        .active{
        }
    }
}
