<!--@subject {{trans "Low-quantity Notification"}} @-->
{{template config_path="design/email/header_template"}}
<table style="float:left; margin-right: 10px" class="fue-abc-items">
    <tr>
        <td style="text-align: center;">
            {{trans "Demo text"}}
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}