.bubbles {
    position: fixed;
    top: 0;
    right: -40%;
    width: 100%;
    height: 100%;
    z-index: 15;
    overflow: visible;
    opacity: 0.5;
    
}
.bubbles:before {
    content: "";
    display: block;
    padding-top: 110.6888361045%;
}
.bubbles svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
}
.bubbles .bubble {
    transform: translateY(50vh);
    opacity: 0;
    will-change: transform, opacity;
    animation: up 15s infinite linear;
}
.bubbles .bubble path {
    animation: wobble 10s infinite linear;
}
.bubbles .bubble:nth-child(10n - 0) {
    animation: up 15s 0s infinite linear;
}
.bubbles .bubble:nth-child(10n - 0) path {
    animation: wobble 10s 0s infinite ease-in-out;
}
.bubbles .bubble:nth-child(10n - 1) {
    animation: up 15.5s 0.5s infinite linear;
}
.bubbles .bubble:nth-child(10n - 1) path {
    animation: wobble 10.25s 0.5s infinite ease-in-out;
}
.bubbles .bubble:nth-child(10n - 2) {
    animation: up 16s 1s infinite linear;
}
.bubbles .bubble:nth-child(10n - 2) path {
    animation: wobble 10.5s 1s infinite ease-in-out;
}
.bubbles .bubble:nth-child(10n - 3) {
    animation: up 16.5s 1.5s infinite linear;
}
.bubbles .bubble:nth-child(10n - 3) path {
    animation: wobble 10.75s 1.5s infinite ease-in-out;
}
.bubbles .bubble:nth-child(10n - 4) {
    animation: up 17s 2s infinite linear;
}
.bubbles .bubble:nth-child(10n - 4) path {
    animation: wobble 11s 2s infinite ease-in-out;
}
.bubbles .bubble:nth-child(10n - 5) {
    animation: up 17.5s 2.5s infinite linear;
}
.bubbles .bubble:nth-child(10n - 5) path {
    animation: wobble 11.25s 2.5s infinite ease-in-out;
}
.bubbles .bubble:nth-child(10n - 6) {
    animation: up 18s 3s infinite linear;
}
.bubbles .bubble:nth-child(10n - 6) path {
    animation: wobble 11.5s 3s infinite ease-in-out;
}
.bubbles .bubble:nth-child(10n - 7) {
    animation: up 18.5s 3.5s infinite linear;
}
.bubbles .bubble:nth-child(10n - 7) path {
    animation: wobble 11.75s 3.5s infinite ease-in-out;
}
.bubbles .bubble:nth-child(10n - 8) {
    animation: up 19s 4s infinite linear;
}
.bubbles .bubble:nth-child(10n - 8) path {
    animation: wobble 12s 4s infinite ease-in-out;
}
.bubbles .bubble:nth-child(10n - 9) {
    animation: up 19.5s 4.5s infinite linear;
}
.bubbles .bubble:nth-child(10n - 9) path {
    animation: wobble 12.25s 4.5s infinite ease-in-out;
}
.bubbles .bubble:nth-child(10n - 10) {
    animation: up 20s 5s infinite linear;
}
.bubbles .bubble:nth-child(10n - 10) path {
    animation: wobble 12.5s 5s infinite ease-in-out;
}
@media only screen and (min-width: 768px) {
    .bubbles {
        right: auto;
        left: 60%;
        width: 40%;
   }
}
@media only screen and (min-width: 1024px) {
    .bubbles {
        left: calc(100% - 400px);
        width: 400px;
   }
}
@keyframes wobble {
    33% {
        transform: translateX(-50px);
   }
    66% {
        transform: translateX(50px);
   }
}
@keyframes up {
    0% {
        opacity: 0;
   }
    10% {
        opacity: 1;
   }
    90% {
        opacity: 1;
   }
    100% {
        opacity: 0;
        transform: translateY(-50vh);
   }
}
