/* karla-regular - latin-ext_latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/karla-v6-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Karla'), local('Karla-Regular'),
    url('@{icon-font-path}karla-v6-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/karla-v6-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/karla-v6-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/karla-v6-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/karla-v6-latin-ext_latin-regular.svg#Karla') format('svg'); /* Legacy iOS */
}
/* karla-700 - latin-ext_latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: url('/../fonts/karla-v6-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local('Karla Bold'), local('Karla-Bold'),
    url('../fonts/karla-v6-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/karla-v6-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/karla-v6-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/karla-v6-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/karla-v6-latin-ext_latin-700.svg#Karla') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Karla-Fritz';
    src: url('../fonts/fritz_kola.otf');
    src: url('../fonts/fritz_kola.otf?#iefix') format('opentype'), url('../fonts/fritz_kola.otf') format('truetype');

}


body{
    font-family: "Karla", Helvetica, Arial, sans-serif;
    font-size: 17px;
    position: relative;
    top: 0;
    background: #000;
    color: #fff;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Karla-Fritz", Helvetica, Arial, sans-serif;
    color: #fff;
    text-transform: lowercase !important;
}
select{
    background-color: #000;
    background-image: url(../images/icons/arrow-down.png);
    background-position: 98% 55%;
    background-repeat: no-repeat;
    background-size: 12px;
}
.page-main{
    position: relative;
    z-index: 50;
}
.cms-home .page-main{
    z-index: inherit;
    margin-bottom: 0;
}
.category-view, .products.wrapper{
    font-family: "Karla-Fritz", Helvetica, Arial, sans-serif;
    text-transform: lowercase !important;
}
.footer-text, .footer-social-icons, .underline{
    display: none;
}
.cms-home .footer-text, .cms-home .footer-social-icons, .cms-home  .underline{
    display: block;
}
.page-header .header.content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background: #000;
}
.header.content > div.header-left{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header-left .nav-sections, .header-left .navigation{
    background: none;
    margin-bottom: 0;
}
.header-left .logo{
    margin-bottom: 0;
    width: 170px;
    margin: 0;
}
.header-left .navigation .level0>.level-top{
    color: #fff;
    padding: 0 7px;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    font-family: "Karla-Fritz", Helvetica, Arial, sans-serif;
    text-transform: lowercase !important;

}
.header-left .navigation .level0>.level-top:hover{
    color: #fff;
}
.header-left .navigation .level0>.level-top:after{
    content: '';
    background: #fff;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 7px;
    left: 0;
    transition: all 800ms cubic-bezier(0.23, 1, 0.32, 1.1);
}
.header-left .navigation .level0>.level-top:hover:after{
    width: 100%;
    transition: all 800ms cubic-bezier(0.23, 1, 0.32, 1.1);
}
.header-left .navigation .level0>.level-top:hover span{

}
.header.content > div.header-right{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    margin-top: 4px;
}
.minicart-wrapper .action.showcart .icon:before{
    width: 17px;
    height: 25px;
    content: "";
    display: inline-block;
    vertical-align: bottom;
    background-image: url('../images/icons/icn_cart.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-search:hover{
    cursor: pointer;
}
.icon-search .icon:before{
    width: 17px;
    height: 25px;
    content: "";
    display: inline-block;
    vertical-align: bottom;
    background-image: url('../images/icons/icn_search.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-account .icon:before{
    width: 17px;
    height: 25px;
    content: "";
    display: inline-block;
    vertical-align: bottom;
    background-image: url('../images/icons/icn_profile.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
#search_mini_form{
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    margin-left: 18px;

}
#search_mini_form .nested{
    display: none;
}
.header-right .header-icons{
    display: flex;
    align-items: center;
}
.header-right .header-icons > div{
    margin-left: 20px;
}
.header-right .header-icons .icon-search{
    position: relative;
    display: flex;
    align-items: center;
}
#search_mini_form #search{
    color: #000;
    line-height: 30px;
    border: 1px solid #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px 15px;
    font-size: 16px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: none;
    border-radius: 10px;
    width: 220px;
    height: 20px;
}
#search_mini_form #search::placeholder{
    opacity: 0;
}
.search-autocomplete.-bottom-position{
    top:45px!important;
    border: 1px solid #979797;
    border-top: 0;
}
#search_mini_form #search::placeholder{
    color: #fff;
    font-size: 16px;
    font-style: initial;
}
.amsearch-form-container.-large .amsearch-wrapper-content .amsearch-wrapper-inner .amasty-xsearch-form .input-text.qty{
    width: 45px!important;
    margin-right: 10px;
}
#search_mini_form .form-info{
    position: relative;
}
#search_mini_form .form-info .actions{
    position: absolute;
    right: 8px;
    z-index: 100;
    top: 8px;
    display: none;

}
#search_mini_form .form-info .actions span{
    display: none;
}
.form-info .action.search{
    background: initial;
    border: none;
    width: 18px;
    height: 18px;
    background-image: url('../images/icons/icn_search.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1!important
}
.amsearch-form-container.-opened .form-info  .amsearch-wrapper-input{
    transition: initial!important;
}
.icon-search .search .amsearch-loupe{
    left: initial;
    top: -1px;
    right: 14px;
    width: 18px;
    height: 18px;
    background-image: url('../images/icons/icn_search.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: none!important;
}
.icon-search  .amsearch-close{
    display: none!important;
}
.banner-carousel .item{
    position: relative;
    overflow: hidden;
}
.banner-carousel .item .desc{
    position: absolute;
    top: calc(25% - 10px);
    left: calc(25% - 10px);
    color: #fff;
    padding: 10px;
    z-index: 15;
}
.banner-carousel .item .desc p{
    font-size: 85px;
    line-height: 75px;
    font-family: "Karla-Fritz", Helvetica, Arial, sans-serif;
    text-transform: lowercase !important;
}
.banner-carousel .item .desc p:first-child{
    font-size: 65px;
}
.homepage-categories{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: space-between;
    margin: 0 -15px;
}
.homepage-categories .category{
    width: 48%;
    padding: 0 15px;
    margin-bottom: 35px;
    box-sizing: border-box;
}
.homepage-categories .category:last-child{
    width: 100%;
    margin-bottom: 0;
}
.homepage-categories .category a{
    display: block;
    overflow: hidden;
    position: relative;
    text-align: right;
}
.homepage-categories .category a span{
    position: relative;
    text-align: right;
    z-index: 50;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    font-family: "Karla-Fritz", Helvetica, Arial, sans-serif;
    text-transform: lowercase !important;
}
.homepage-categories .category a  .review-img{
    display: block;
    overflow: hidden;
}
.homepage-categories .category a span:after{
    content: '';
    background: #fff;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 800ms cubic-bezier(0.23, 1, 0.32, 1.1);
}
.homepage-categories .category a img{
    display: block;
    transition: -webkit-transform 1.3s ease-out;
    transition: transform 1.3s ease-out;
    transition: transform 1.3s ease-out, -webkit-transform 1.3s ease-out;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.homepage-categories .category a:hover img{
    transition: -webkit-transform 1.3s ease-out;
    transition: transform 1.3s ease-out;
    transition: transform 1.3s ease-out, -webkit-transform 1.3s ease-out;
    -webkit-transform: scale(1);
    transform: scale(1.5);
}
.homepage-categories .category a:hover span:hover:after{
    width: 100%;
    transition: all 800ms cubic-bezier(0.23, 1, 0.32, 1.1);
}
.page-footer .footer-container .footer-element ul li a{
    color: #fff;
}
.page-footer .news-footer .footer-newsletter a{
    color: #fff;
    text-decoration: underline;
}
.page-footer .footer-container{
    position: relative;
    flex-wrap: wrap;
}
.page-footer .footer-container .footer-element:last-child{
    width: 100%;
    text-align: center;
    margin-top: 55px;
    margin-bottom: -15px;
}
.footer-social-icons {
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}
.underline{
    height: 2px;
    width: 500px;
    background: #979797;
    margin: 15px auto;
}
.footer-text{
    margin: 15px 0 70px;
}
.footer-text .headline{
    font-size: 25px;
    text-align: center;
    font-family: "Karla-Fritz", Helvetica, Arial, sans-serif;
    text-transform: lowercase !important;
}
.footer-text .text-info p:first-child{
    padding-bottom: 20px;
}
.footer-text .text-info p span{
    display: block;
    text-align: center;
}
.footer-social-icons a{
    font-size: 30px;
    padding: 0 5px;
    color: #fff;
    text-decoration: none!important;
}
.copyright{
    padding: 15px;
    padding-bottom: 30px;
}
.icon-search .amsearch-form-container.-opened:not(.-small) .amsearch-products{
    background: rgba(29,29,29,0.9);
    border-color: #979797;
}
.icon-search .amsearch-wrapper-content .product-item-link{
    color: #fff;
    margin-bottom: 8px;
    display: block;
    line-height: 15px;
    text-transform: uppercase;
}
.banner-carousel{
    position: relative;
    left: 50%;
    margin-left: -50.45vw;
    width: 100vw;
}
.banner-carousel.owl-theme .owl-dots{
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}
.banner-carousel.owl-theme .owl-dots .owl-dot span{
    font-family:"fritz_kola-icons";
    display:inline-block;
    vertical-align:middle;
    line-height:1;
    font-weight:normal;
    font-style:normal;
    speak:none;
    text-decoration:inherit;
    text-transform:none;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    width: initial;
    height: initial;
    margin: 0;
    background: none;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 0;
    margin-left: 15px;
    font-size: 12px;
}
.banner-carousel.owl-theme .owl-dots .owl-dot span:before{
    content:"\f110";
}
.banner-carousel.owl-theme .owl-dots .owl-dot.active span:before{
    content:"\f10f";
}
.news-footer, .footer-container{
    font-family: "Karla-Fritz", Helvetica, Arial, sans-serif;
    text-transform: lowercase !important;
}
.footer-social-icons a:hover{
    text-decoration: none;
}
.banner-carousel.owl-theme .bg-banner{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-size: cover;
    background-position: center;
}
.banner-carousel.owl-carousel .owl-item img{
    z-index: 10;
    position: relative;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    opacity:0.7;
}
.banner-carousel.owl-carousel .owl-item img.active{
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
}
.banner-carousel.owl-carousel .owl-item.active img{
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.imghvr-flip-vert .img-front {
    transform: rotateY(0deg);
    transform-origin: 50% 0;
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
.imghvr-flip-vert:hover .img-front{
    transform: rotateY(90deg);
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
.imghvr-flip-vert.no-flip:hover .img-front{
    transform: initial;
    transition: initial;
}
[class*=" imghvr-"], [class^=imghvr-]{
    background-color: initial;
}
.imghvr-flip-vert:hover figcaption{
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
.catalog-category-view.page-layout-1column .column.main{
    padding-top: 0!important;
}
.header-left .navigation .level0.active>.level-top:after{
    width: 100%;
}



.preloader-circle{
    position: relative;
}
.preloader-circle .wrapper {
    width: 87px;
    height: 87px;
    position: absolute;
    clip: rect(0px, 87px, 87px, 43px);
    left: 11px;
    top: -6px;
}
.preloader-circle .circle {
    width: 80px;
    height: 80px;
    border: 3px solid #fff;
    border-radius: 50px;
    position: absolute;
    clip: rect(0px, 43px, 87px, 0px);
}
.preloader-circle div[data-anim~=base] {
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function:linear;
}

.preloader-circle .wrapper[data-anim~=wrapper] {
    -webkit-animation-duration: 0.01s;
    -webkit-animation-delay: 1s;
    -webkit-animation-name: close-wrapper;
}

.preloader-circle .circle[data-anim~=left] {
    -webkit-animation-duration: 2s;
    -webkit-animation-name: left-spin;
}

.preloader-circle .circle[data-anim~=right] {
    -webkit-animation-duration: 1s;
    -webkit-animation-name: right-spin;
}
@-webkit-keyframes right-spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(180deg);
    }
}
@-webkit-keyframes left-spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes close-wrapper {
    to {
        clip: rect(auto, auto, auto, auto);
    }
}
#preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 9999999999;
    height: 100%;
}
#preloader .preloader-info{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 44.5%;
    top: 35%;
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}
.ccm-settings-summoner.ccm-show{
    z-index: 10;
}
.footer-element h3{
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 15px;
}
.account .bubbles, .checkout-cart-index .bubbles, .checkout-index-index .bubbles,
.customer-account-create .bubbles, .customer-account-login .bubbles{
    display: none;
}
.bubbles{
    display: block;
}
#lz_overlay_wm{
    display: block!important;
}
.cms-home .news-footer{
    margin-bottom: 75px;
}
.news-footer{
    display: none;
}
.page-products .news-footer, .catalog-product-view .news-footer{
    display: block;
    margin-bottom: 25px;
}
.news-footer .footer-newsletter{
    font-size: 12px;
    font-family: "Karla", Helvetica, Arial, sans-serif;
}
.cms-page-view a{
    text-decoration: underline;
}
.cms-page-view a:hover{
    text-decoration: none;
}
.cms-home .page-main, .footer.content{
    max-width: 1500px!important;
}
.category-view{
    position: relative;
    overflow: hidden;
}
.category-view .page-title-wrapper{
    /* position: absolute;
    bottom: calc(25% + 30px);
    left: 40px; */
    text-align: right;
}
.category-description{
    font-family: "Karla", Helvetica, Arial, sans-serif;
}

/* input[type="checkbox"], input[type='radio'] */
input[type="checkbox"], input[type='radio'] {
    display: none;
}
input[type="checkbox"] + label, input[type='radio'] + label {
    display: block;
    padding-left: 35px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input[type="checkbox"] + label:before, input[type='radio'] + label:before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}
input[type="checkbox"]:checked + label:before, input[type='radio']:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(
        45deg
    );
    transform: rotate(
        45deg
    );
}
.fieldset.create.info > .field.choice{
    display: none;
}
.icon-account{
    display: flex;
}
.icon-account .log-out{
    padding-left: 20px;
}
.icon-account .log-out .icon:before{
    width: 18px;
    height: 25px;
    content: "";
    display: inline-block;
    vertical-align: bottom;
    background-image: url('../images/icons/logout.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 18px;
}
.icon-account .welcome-text{
    position: absolute;
    right: 0;
    top: -45px;
    font-size: 19px;
}
.form.form-edit-account .fieldset.info > .field.choice:last-child{
    display: none;
}
.field.password .control{
    position: relative;
}
.field.password .control .links-icon.eye-icon{
    position: absolute;
    right: -5px;
    top: -12px;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    border-radius: 100%;
    font-size: 1.8em !important;
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 10;
}
.field.password .control .links-icon.eye-icon:before{
    content: "\f06e";
    font-size: 17px;
    color: #fff;
    opacity: 0.5;
}
.field.password .control .links-icon.eye-icon.active:before{
    content: "\f070";
}
#search_mini_form .form-info .search-autocomplete .actions{
    position: relative;
}
#search_mini_form .form-info .search-autocomplete .actions span{
    display: block;
}
.amsearch-form-container.-large .amsearch-wrapper-content .autocomplete-info-wrap{
    align-items: flex-start!important;
    margin-bottom: 35px;
}
.account .column.main .block:not(.widget) .block-title{
    border: none!important;
}
.table-wrapper.additional-addresses{
    overflow: initial;
}
.account .table-wrapper.additional-addresses .action.delete{
    color: #fff!important;
}
.footer-container .footer-element img{
    max-width: 170px;
}
#switcher-language-nav .switcher-label{
    display: none;
}
#switcher-language-nav .switcher-options{
    position: relative;
}
#switcher-language-nav .switcher-options ul{
    position: absolute;
    top: 35px;
    padding: 5px 30px!important;
    border: 1px solid #fff;
    right: 0;
    font-size: 14px;
    text-align: center;
    background: #000;
    opacity: 0;
    visibility: hidden;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.language-drop-icon{
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    position: absolute;
    right: -14px;
}
.switcher-options.active .language-drop-icon{
    transform: rotate(180deg);
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
#switcher-language-nav .switcher-options:hover{
    cursor: pointer;
}
#switcher-language-nav .switcher-options.active  ul{
    opacity: 1;
    visibility: visible;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
#switcher-language-nav .switcher-options strong{
    position: relative;
    font-weight: 400;
}
#switcher-language-nav .switcher-options strong:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}
#switcher-language-nav .switcher-options ul a:hover{
    color: #fff;
}
#switcher-language-trigger-nav{
    display: flex;
}
#switcher-language-nav .switcher-options .language-drop-icon:after{
    content: "\f078";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 11px;
}
.paypal-review .table-paypal-review-items .col.price .price-including-tax .price, .paypal-review .table-paypal-review-items .col.price .price-excluding-tax .price, .paypal-review .table-paypal-review-items .col.subtotal .price-including-tax .price, .paypal-review .table-paypal-review-items .col.subtotal .price-excluding-tax .price, .cart.table-wrapper .col.price .price-including-tax .price, .cart.table-wrapper .col.price .price-excluding-tax .price, .cart.table-wrapper .col.subtotal .price-including-tax .price, .cart.table-wrapper .col.subtotal .price-excluding-tax .price, .cart.table-wrapper .col.msrp .price-including-tax .price, .cart.table-wrapper .col.msrp .price-excluding-tax .price, .order-details-items .col.price .price-including-tax .price, .order-details-items .col.price .price-excluding-tax .price, .order-details-items .col.subtotal .price-including-tax .price, .order-details-items .col.subtotal .price-excluding-tax .price{
    color: #fff;
    font-weight: 400;
}
.cms-home .page.messages{
    position: absolute;
    z-index: 10;
    left: calc(25% + 15px);
    top: 125px;
}
.product-add-form .swatch-option.disabled:after{
    background: #fff;
    width: 46px;
    height: 1px;
    z-index: 100;
    bottom: 20px;
    transform-origin: 54% bottom;
    transform: rotate(-40deg);
    top: 11px;
    left: -5px;
}
.fotorama__stage{
    padding-bottom: 15px;
}
.fotorama__nav-wrap.fotorama__nav-wrap--horizontal{
    margin-top: 20px;
}
.page-main{
    margin-bottom: 50px;
}
.product.media .fotorama__thumb-border{
    display: none;
}
.product.media .fotorama__nav--thumbs .fotorama__nav__frame{
    padding-right: 20px!important;
}.product.media .fotorama__nav--thumbs .fotorama__nav__frame:last-child{
     padding-right: 0!important;
 }
.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left, .fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right{
    background: none!important;
}
.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left .fotorama__thumb--icon, .fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right .fotorama__thumb--icon{
    background-image: none;
    background-color: rgba(29,29,29,0.75);
    padding: 5px 0px;
}
.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--left .fotorama__thumb--icon:before{
    content: "\f053";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 14px;
    position: relative;
    left: 9px;
}
.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right .fotorama__thumb--icon:before{
    content: "\f054";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 14px;
    position: relative;
    left: 9px;
}
.product-info-main .product-add-form .action.primary.tocart span:before{
    width: 17px;
    height: 25px;
    content: "";
    display: inline-block;
    vertical-align: bottom;
    background-image: url(../images/icons/icn_cart.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}
.product-info-main .product-add-form .action.primary.tocart:hover span:before{
    background-image: url(../images/icons/icn_cart.png);
}
.page-header .panel.wrapper .switcher .options .action.toggle:after, .page-footer .switcher .options .action.toggle:after{
    padding-left: 5px;
    padding-top: 4px;
}
.page-header .panel.wrapper .switcher .options ul.dropdown:before{
    display: none;
}
.page-header .panel.wrapper .switcher .options ul.dropdown a, .page-footer .switcher .options ul.dropdown a{
    padding: 0!important;
    color: #fff;
}
.page-header .panel.wrapper .switcher .options ul.dropdown a:hover, .page-footer .switcher .options ul.dropdown a:hover{
    color: #fff;
}
.page-header .panel.wrapper .switcher .options ul.dropdown li:hover, .page-footer .switcher .options ul.dropdown li:hover{
    background: none;
}
.page-header .panel.wrapper .switcher .options ul.dropdown:after{
    display: none;
}
.fotorama__arr, .fotorama__thumb__arr, .fotorama__arr:hover, .fotorama__thumb__arr:hover,
.fotorama__arr:active, .fotorama__thumb__arr:active{
    background: none!important;
}

.fotorama__arr.fotorama__arr--prev .fotorama__arr__arr:before{
    content: "\f053";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 20px;
    left: 10px;
    position: absolute;
    background: rgba(29,29,29,0.75);
    padding: 7px 12px;
}
.fotorama__arr.fotorama__arr--next .fotorama__arr__arr:before{
    content: "\f054";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 20px;
    right: 10px;
    position: absolute;
    background: rgba(29,29,29,0.75);
    padding: 7px 12px;
}
.fotorama__arr .fotorama__arr__arr{
    background-image: none!important;
}

.support:before{
    width: 25px;
    height: 25px;
    content: "";
    display: inline-block;
    vertical-align: bottom;
    background-image: url('../images/icons/support.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.homepage-text{
    margin-top: 30px;
    text-align: left;
}
.homepage-text h1{
    font-size: 50px;
}
.homepage-text .text-info p{
    font-size: 22px;
    font-family: "Karla-Fritz", Helvetica, Arial, sans-serif;
    text-transform: lowercase !important;
}
.navigation .link-page.level0{
    margin-left: 40px;
    margin-right: 8px;
}
.header-right .header-icons > div.header-language-welcome{
    margin-left: 60px;
    position: relative;
}
.header-right .header-icons > div.header-language-welcome .welcome-text{
    position: absolute;
    top: -30px;
    width: 140px;
    right: -25px;
}
.contact-info {
    margin-top: 30px;
}
.contact-info > p{
    margin-bottom: 20px;
}
.contact-info ul{
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}
.contact-info ul li{
    margin-bottom: 0;
}
.contact-info ul li a{
    text-decoration: underline;
}
.contact-info ul li a:hover{
    text-decoration: none;
}
.swatch-option-tooltip{
    display: none!important;
}
.checkout-agreement button{
    font-weight: 400;
}

/* New Change  */

.modal-popup._show .modal-inner-wrap{
    background: #ddd;
    color: #000;
}
.modal-custom .action-close:before, .modal-popup .action-close:before, .modal-slide .action-close:before{
    color: #000!important;
}
.modal-footer button.action-secondary.action-dismiss{
    background: #ffffff;
    border: 1px solid #ffffff;
    color: #000000;
    font-weight: 400;
}
.modal-footer button.action-secondary.action-dismiss:hover{
    background: #1f1f1f;
    border: 1px solid #1f1f1f;
    color: #ffffff;
}
.modal-popup .modal-title{
    color: #000;
    font-weight: 400;
    border-bottom: 1px solid #979797;
}
.cms-page-view h3 {
    font-weight: 400;
    font-size: 22px;
}
#qty-error{
    display: none!important;
}
.box-tocart .input-text.qty.mage-error{
    border-color: #c71618;
}
.product-price-info.drinks .per{
    position: absolute;
    color: #fff;
    top: 38px;
    font-size: 13px;
    left: 20px;
}
html:lang(de) .product-price-info.drinks .per{
    left: 32px;
}
.price-tax-wrap.drink{
    margin-left: 20px;
}
html:lang(en) .product-info-main .product-price-info .pricing{
    right: 73px;
}
html:lang(en) .category-page-wrap .product-item-info .product-item-details .price-tax-wrap .product-price .per{
    font-size: 11px;
}
.catalog-category-view .breadcrumbs {
    display: none;
}
body .ccm-root input[type="checkbox"].ccm-checkbox-type--switch:checked+label::after{
    background-color: #7AA93C;
}
body .ccm-root input[type="checkbox"].ccm-checkbox-type--switch+label::after{
    background: #c71618;
}
.categorypath-pullen .category-page-wrap.pro-layout .products.wrapper .products .product-item,
.categorypath-fritz-drinks .category-page-wrap.pro-layout .products.wrapper .products .product-item{
    margin-bottom: 25px;
}
.action.primary.bottle, .action.primary.auction{
    width: 100%;
    text-align: center;
}
.action.primary.bottle:after, .action.primary.auction:after{
    content: '->';
    padding-left: 5px;
}

/* Auction */

.auction .data-price{
    display: block;
    padding: 5px 0;
    color: #fff;
}
.auction .data-price strong{
    font-size: 22px;
    font-weight: 400;
    padding-left: 10px;
}

.wk_product_background + style + style  + .product-social-links + .product-price-info .product-info-price{
    display: none;
}

/* Labels */

.product.media, .product-images-cart{
    position: relative;
}
.product.media .out-of-stock-label, .product-images-cart .out-of-stock-label{
    position: absolute;
    bottom: 0;
}
