@media only screen and (max-width: 1570px){
    .header-right .header-icons > div.header-language-welcome{
        position: absolute;
        right: 0;
        top: -40px;
        display: flex;
        align-items: flex-start;
    }
    .header-right .header-icons > div.header-language-welcome .welcome-text{
        position: initial;
        padding-right: 10px;
    }
    .header-left .navigation .level0>.level-top{
        font-size: 17px;
    }
    .navigation .link-page.level0{
        margin-left: 25px;
    }
    .banner-carousel .item .desc p:first-child{
        font-size: 50px;
    }
    .banner-carousel .item .desc p{
        font-size: 75px;
    }
}
@media only screen and (max-width: 1440px){
    .page-wrapper .page-header .panel.wrapper{
        top: 0!important;
        z-index: 100;
        font-size: 14px;
    }
    .page-wrapper .page-header .panel.wrapper .header-language-welcome{
        height: 40px;
    }
    #switcher-language-nav .switcher-options strong:after{
        bottom: 7px;
    }
    #switcher-language-nav .switcher-options strong:after {
        bottom: 3px;
    }
    .page-header .panel.wrapper .switcher .options .action.toggle:after, .page-footer .switcher .options .action.toggle:after{
        padding-top: 0;
    }
    .header-left .nav-sections, .header-left .navigation{
        padding: 0;
    }
    .navigation .link-page.level0{
        margin: 0!important;
    }
}
@media only screen and (max-width: 1300px){
    .header.content
    {
        position: initial;
    }
    /* .header.content > div.header-right{
        position: absolute;
        right: 30px;
    } */
}
@media only screen and (max-width: 1100px){
    .banner-carousel{
        margin-left: -50vw;
    }
    .homepage-categories{
        width: initial;
    }
    .header-left .navigation .level0>.level-top{
        font-size: 16px;
    }
    #preloader .preloader-info{
        width: 315px;
        left: 40.5%;
    }
}
@media only screen and (max-width: 1300px) and (min-width: 1025px){
    .header-right .header-icons{
        position: absolute;
        right: 0;
        top: -65px;
    }
    .page-header .header.content{
        padding-top: 45px;
    }
    .page-wrapper .page-header .panel.wrapper .header-language-welcome{
        flex-wrap: initial;
    }
    .header-right .header-icons > div.header-language-welcome{
        position: initial;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 992px){
    .header-left .nav-sections, .header-left .navigation{
        padding: 0;
    }
    .navigation .link-page.level0{
        margin-right: 0;
        margin-left: 0;
    }
}
@media only screen and (max-width: 1024px){
    #search_mini_form{
        position: absolute;
        right: 0;
        top: 30px;
        opacity: 0;
        visibility: hidden;
    }
    #search_mini_form.active{
        opacity: 1;
        visibility: visible;
    }
    .header-right .header-icons > div.header-language-welcome{
        text-align: right;
    }
}
@media only screen and (max-width: 991px){
    .cms-home .page-header{
        position: relative;
        border-bottom: none;
    }
    .page-header .header.content{
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 30px;
    }
    .header.content > div.header-left .logo{
        float: none;
    }
    .header.content > div.header-left .logo{
        display: block;
        width: 100%;
        margin: 0 auto 30px;
        padding-right: 0;
    }
    .header.content > div.header-left .logo img{
        margin: 0 auto;
    }
    #switcher-language-nav img{
        width: 25px!important;
    }
    .header-right .switcher-language{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .header-right .header-icons{
        margin-left: 0;
    }
    .nav-open .header  .nav-sections{
        box-shadow: none;
        border-right: 1px solid #979797;
    }
    .header.content > div.header-right{
        position: initial;
    }
    .icon-account .welcome-text{
        left: 15px;
        top: 17px;
        right: initial;
    }
    #search_mini_form{
        right: -115px;
    }
    .header.content > div.header-left{
        width: 100%;
    }
    .navigation .link-page.level0{
        margin: 0!important;
    }
    .header-right .header-icons > div.header-language-welcome{
        right: 10px;
        font-size: 14px;
        top: 10px;
    }
}
@media only screen and (max-width: 767px){
    .page-main{
        overflow: hidden;
    }
    .homepage-categories .category{
        width: 50%;
    }
    .footer-container{
        flex-wrap: wrap;
    }
    .footer-container > div{
        width: 50%;
    }
    .page-products .columns{
        padding-top: 0!important;
    }

}
@media only screen and (max-width: 500px){
    .banner-carousel .item .desc p:first-child{
        font-size: 30px;
    }
    .banner-carousel .item .desc p {
        font-size: 41px;
        line-height: 30px;
    }
    .homepage-categories .category{
        width: 100%;
    }
    .footer-container > div{
        width: 100%;
    }
    #preloader .preloader-info{
        left: 31.5%;
    }
    .page-footer .footer-container .footer-element:last-child{
        text-align: left;
        margin-bottom: 0;
    }
}
