<!--@subject {{var subject}}  @-->
{{template config_path="design/email/header_template"}}

<table>
    Profiler Import Error Default Email Template
    <tr>
        <td>
            Error Message:
        </td>
        <td>
            {{var error_message }}
        </td>
    </tr>
    <tr>
        <td>
            File Name:
        </td>
        <td>
            {{var file_name }}
        </td>
    </tr>
    <tr>
        <td>
            File Path:
        </td>
        <td>
            {{var file_path }}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}