<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php $_item = $block->getItem() ?>
<?php $_order = $block->getItem()->getOrder(); ?>
<?php
$_store = $_order->getStore();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$productId = $_item->getProductId();
$product = $objectManager->get('Magento\Catalog\Api\ProductRepositoryInterface')->getById($productId);
$_imageHelper = $objectManager->get('Magento\Catalog\Helper\Image');
?>
<tr>
    <td class="item-info<?= ($block->getItemOptions() ? ' has-extra' : '') ?>">
        <div class="product-image">
            <p><img class="product-image" src="<?= $_imageHelper->init($product, 'cart_page_product_thumbnail')->keepAspectRatio(true)->resize(65,65)->getUrl();?>" alt="<?= __('Product Image');?>"></p>
        </div>
        <div class="product-info">
            <p class="product-name"><?= $block->escapeHtml($_item->getName()) ?></p>
            <?php if ($block->getItemOptions()) : ?>
                <dl>
                    <?php foreach ($block->getItemOptions() as $option) : ?>
                        <dt><strong><em><?= $block->escapeHtml($option['label']) ?></em></strong></dt>
                        <dd>
                            <?= /* @noEscape */  nl2br($block->escapeHtml($option['value'])) ?>
                        </dd>
                    <?php endforeach; ?>
                </dl>
            <?php endif; ?>
            <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
            <?php if ($addInfoBlock) : ?>
                <?= $addInfoBlock->setItem($_item->getOrderItem())->toHtml() ?>
            <?php endif; ?>
            <?= $block->escapeHtml($_item->getDescription()) ?>
        </div>
    </td>
    <td class="item-sku">
        <p class="sku"><?= $block->escapeHtml($block->getSku($_item)) ?></p>
    </td>
    <td class="item-qty"><?= (float) $_item->getQty() ?></td>
    <td class="item-price">
        <?= /* @noEscape */ $block->getItemPrice($_item->getOrderItem()) ?>
    </td>
</tr>
