<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Auction
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<!--@subject Customer Wallet Amount Transfer Notification  @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var date":"Expiry Date",
"var customerName":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello Admin, "}}</p>
            <p>
                {{trans "This is inform you that %customername has created a wallet amount transfer request." customername=$customername}}
            </p>
            <p>
                {{trans "Note added with the Request"}}
            </p>
            <p>
                {{trans "%note" note=$note}}
            </p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
          <p>{{trans "Bank Details added with the Request:"}}</p>
          <p>{{trans "%bankdetails" bankdetails=$bankdetails}}</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
