<!--@subject {{var customername}} Debited amount @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customername":"Customer name",
"var walletamount":"Currently added amount",
"var transaction_at":"Amount added at",
"var store":"store",
"var remainingamount":"Total amount remained in customer account"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello Admin, "}}</p>
            <p>
                {{trans "The amount %walletamount has debited from %customername's wallet." walletamount=$walletamount customername=$customername}}
            </p>
            <p>
                {{trans "Transaction note added with the transaction"}}
            </p>
            <p>
                {{trans "%walletnote" walletnote=$walletnote}}
            </p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <p>{{trans 'Debited at <span class="no-link">%transaction_at</span>' transaction_at=$transaction_at |raw}}</p>
            <p>{{trans "Total remianing amount in the wallet %remainingamount" remainingamount=$remainingamount}}</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
