<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Auction
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<!--@subject kaaaaatsching! neues gebot eingegangen @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <!-- [ header starts here] -->
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="5" border="0" width="650" style="color:black;">
        <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <p>{{trans "moin "}}{{var name}},</p>
                    <p>	
                        ein neues gebot is eingegangen:	
                     </p>	
                </td>
            </tr>
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="5" border="0" style="color:black;">
                        <tbody>
                            <tr>
                                <td style="width:150px;">{{var amountlabel}}</td>
                                <td></td>
                                <td>{{var amount}}</td>
                            </tr>
                            <tr>
                                <td style="width:150px;">{{trans "datum"}}</td>
                                <td></td>
                                <td>{{var date}}</td>
                            </tr>
                            <tr>
                                <td style="width:150px;">{{trans "auktionsartikel"}}</td>
                                <td></td>
                                <td><a href='{{var ProductUrl}}'>{{var productName}}</a></td>
                            </tr>
                            <tr>
                                <td style="width:150px;">{{trans "auktionsende"}}</td>
                                <td></td>
                                <td>{{var bidendtime}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br/><br/>
                    <p style="font-size:12px; margin:0 10px 10px 0"></p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
{{template config_path="design/email/footer_template"}}
