/**
 * Webkul_Auction css.
 * @category  Webkul
 * @package   Webkul_Auction
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

#form-biddings-amount .input-box {
    display:inline-block;
    width:100%;
}
.wk_row .label, .wk_row .value,
 #wk_front_dd_note{
    display:inline;
}
.wk_row .label{
    font-weight: 600;
}
.wk_row .value{
    font-weight: 600;
}
.wk_wrap .mp_bidding_form{
    display:inline-block;
    vertical-align:middle;
    width: 100%;
}
.sidebar-additional .wk_product_background
.bid_title{
    display : none;
}
.sidebar-additional .wk
.block-content{
    text-align: center;
}
.sidebar-additional
.wk_row .bid_link{
    display:none;
}
.sidebar-additional #target{
    width: 100%;
    margin-top: 10px;
    display:block;
}

.sidebar-additional .count-down-clock.value,
#form-biddings-amount .input-box.auto-bid{
    display: inline-block;
    margin-top: 10px;
}
#form-biddings-amount .input-box.auto-bid input{
    vertical-align: middle;
}
.sidebar-additional .wk_product_background{
    margin-bottom: 20px;
}

.wk-auction-clock{
    text-align: right;
    font-weight: 600;
}
.product-add-form{
    display:none;
}
.auto-bid-show{
    font-weight: 600;
    cursor: pointer;
}
.auto-bid-show-container{
    text-align: right;
    margin-bottom: 10px;
}

/* Bid History Page*/
#my-auction-table{
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.auction_rule{
    border:1px solid #ccc;
    margin-bottom: 30px;
}
.auction_rule .label{
    border-bottom:1px solid #ccc;
    font-weight: 700;
    padding: 5px 10px;
    background-color: #ccc;
}
.auction_rule p{
    margin-bottom: auto;
    padding:5px;
}
#bottom_lin .bid_title{
    margin-bottom: 5px;
}
.wk-auction-clock-span {
    font-size: 3.4rem;
}
.wk_front_dd_set_time {
    width: 60px;
    display: inline-block;
}
.wk-auction-clock-main-div {
    position: relative;
}
.wk-auction-clock-label-dd {
    float:left;
    font-size: 1.3rem;
}
.wk-auction-clock-label-hr {
    float:left;
    font-size: 1.3rem;
}
.wk-auction-clock-label-mi {
    float:left;
    font-size: 1.3rem;
}
.wk-auction-clock-label-sec {
    float:left;
    font-size: 1.3rem;
}
.auction-bid-first-column {
    width: 45%;
    display: inline-block;
    float: left;
}
.auction-bid-second-column {
    width: 55%;
    display: inline-block;
    float: left;
}
.auction-timer-block {
    display: inline-block;
    width: 100%;
}
.wk-auction-timer-div {
    display: inline-block;
    width: 100%;
}
.wk-auction-bid-details .wk_row {
    padding-top:10px;
}
.wk-auction-bid-details {
    width:100%;
    display: inline-block;
}
.form-add {
    margin-top: 10px;
}
.form-add #bidding_amount{
    width: 25%;
    float: left;
    display: inline-block;
}
.form-add .symbol-eur{
    float: left;
    display: inline-block;
    line-height: 30px;
    margin-right: 20px;
    margin-left: 7px;
}
.form-add #target {
    float: left;
    display: inline-block;
    background: initial;
    color: #fff;
}
.form-add #target:hover{
    background: #fff;
    color: #000;
}
#auto_bid_allowed {
    Height: 15px;
    Width:15px;
}
.auto-bid span {
    vertical-align: middle;
}
.view-bid-details {
    float: right;
}
.wk-auction-bids-record-box {
    display: inline-block;
    width:100%;
}
.wk-auction-auction-details {
    display:inline-block;
    width:45%;
    float:left;
}
.wk-auction-bids-record {
    display: inline-block;
    width:50%;
    float:right;
}
.wk-curr-amount-td {
    width:30%;
}
.wk-auction-bid-rule {
    text-align: justify;
}
.wk-auction-bid-table-header{
    border-top: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    background: #f6f6f6;
}
.wk-auction-bid-table-body tr {
    border-left: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
}
@media  screen and (max-width: 767px) and (min-width:0px) {
    .form-add #bidding_amount {
        width: 73%;
    }
    .wk-auction-auction-details {
        width:100%;
    }
    .wk-auction-bids-record {
        width:100%;
    }
}
@media  screen and (max-width: 398px) and (min-width:0px) {
button#target {
    margin-top: 5px;
}
}
.auction-winner-message {
    color: #0d904f;
    font-weight: 600;
    font-style: italic;
}
#wk-auction-dd{
    width: 77px;
}
.wk-auction-clock-label-hr span, .wk-auction-clock-label-mi span, .wk-auction-clock-label-sec span, .wk-auction-clock-label-dd span{
    width: 70px!important;
}
.amount-wrap{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.amount-wrap .product-additional-info{
    padding-left: 25px;
}
.amount-wrap .product-additional-info > span{
    display: block;
    font-size: 14px;
}
.amount-wrap .refresh-button{
    display: block;
    max-width: 26px;
    margin-left: 15px;
    line-height: 10px;
}
.wk_product_background + style + style + script + .product-social-links + .product-price-info .product-info-price{
    display: none;
}
p#wk_front_dd_note span:hover{
    background: initial;
}
.wk-auction-view-bid-link.anchr:hover{
    color: #fff;
    cursor: initial;
}

.box-tocart.for-winner .field.qty{
    display: none;
}
.product-info-main .product-add-form .box-tocart.for-winner  .fieldset .actions{
    margin-left: 0;
    width: 435px;
}
.box-collateral.box-tags.wk_row .watting-user{
    font-weight: 400;
}
.rule{
    position: relative;
    margin-bottom: 15px;
}
.rule input[type="checkbox"], input[type='radio']{
    display: initial;
    opacity: 0;
    position: absolute;
}
.wk_product_background .box-collateral h3{
    font-weight: 400;
}
