/**
 * Webkul
 *
 * @category  Webkul
 * @package   Webkul_Auction
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.wk_ws_sub_head1{
    display: inline-block;
    float: left;
    margin-right: 15px;
}
.wk_ws_sub_head2 h2, .wk_ws_sub_head2 h3{
    margin: 0px;
}
.wk_ws_price{
    color: green;
    margin-left: 10px;
}
.wk_ws_main *{
    box-sizing:border-box;
}
.wk_ws_main h2, .wk_ws_main h3{
    font-weight: bold;
    letter-spacing: 1px;
}
.wk_ws_fieldset{
    clear: both;
}
.wk_ws_body{
    background-color: #e1f5fe;
    margin: 40px 20px;
    padding: 25px;

}
.wk-save-btn {
  float: right;
}
.wk-auction-page-title {
  display: inline-block;
  width: 100%;
}
#wk_ws_price{
    border: none;
    background: none;
    border-bottom: 1px solid #bdbdbd;
    width: 100%;
    margin-right: 20px;
}
#wk_ws_price:focus{
    box-shadow: none;
}
.wk_ws_main #form-custom-data button{
    margin-left: 20px;
}
.wk_ws_add_payment{
    border-radius: 5px;
}
.wk_ws_main .wk_ws_fieldset{
    font-size: 16px;
}
.fieldset.wk_ws_fieldset .field label.label {
    width: 100%;
    display: block;
    float: none;
    text-align: left;
    margin-bottom: 10px;
}
#transfer-form-data .fieldset.wk_ws_fieldset .field .control {
    width: 100%;
}
#verify-form .fieldset.wk_ws_fieldset .field .control {
    width: 100%;
}
.wk_ws_price_outer{
    display: inline-block;
    width: 60%;
    float: left;
}
.wk_ws_table .walletorder .col.description {
    text-transform: capitalize;
}
