<?php
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 */

/**
 * @category   Magenerds
 * @package    Magenerds_BasePrice
 * @subpackage view
 * @author     Florian Sydekum <f.sydekum@techdivision.com>
 * @copyright  Copyright (c) 2017 TechDivision GmbH (http://www.techdivision.com)
 * @link       http://www.techdivision.com/
 */

/**
 * @var $block \Magenerds\BasePrice\Block\AfterPrice
 */
$taxBlock= $block->getLayout()->createBlock('Commercers\PriceTax\Block\Price\Tax');
$_product = $block->getProduct();
$taxPercent = $taxBlock->getTaxPercent($_product);
$shippingTime = $_product->getDeliveryTime();

$isAuctionType = false;
$auctionType = explode(',', $_product->getAuctionType());
if (in_array(2, $auctionType)) {
    $isAuctionType = true;
}

?>
<?php if($_product->getAttributeSetId() == 10): ?>
    <span class="per"><?= __('(per bottle)'); ?></span>
<?php endif;?>

<?php if(!$isAuctionType ): ?>
    <div class="product-additional-info">
        <?php if ($block->isEnabled()): ?>
            <div class="baseprice">
                <span><?= __('equals: ')?></span><?php echo $block->getBasePrice() ?>
            </div>
        <?php endif; ?>
        <span class="tax-details">
        <span class="tax-text">
            <?php if($_product->getTypeId() =="virtual"): ?>
                <?= __('incl. tax ') ?>
            <?php else: ?>
                <?= __('incl. tax, excl. <a target="_blank" href="/shipping">shipping cost</a>*', $taxPercent) ?>
            <?php endif; ?>
        </span>
    </span>
        <?php if($_product->getDeposit()): ?>
            <div class="deposit">
                <?= __('excl. deposit of') ?>
                <?= $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(number_format($_product->getDeposit(),2),true,false); ?>
            </div>

        <?php endif;?>
        <?php if($_product->getTypeId() !="virtual"): ?>
            <span class="tax-ship">
            <span class="delivery-time">
            <?php if(!$shippingTime): ?>
                <?= __('Delivery Time: 3 – 4 Days*'); ?>
            <?php else:?>
                <?= __('Delivery Time: %1',$shippingTime);?>
            <?php endif;?>
            </span>
        </span>
        <?php endif; ?>
    </div>
<?php endif; ?>
