<div class="field addresses">
    <div class="control">
        <select  class="select" name="shipping_address_id" data-bind="
        options: allAddress,
        optionsText: addressOptionsText,
        value: selectedItem">
        </select>
    </div>
</div>