<?php
$messages = $this->getMessages();
$name = $this->getName();
?>

<table>
    <tr><h3>Cron Job : Order Proposal</h3></tr>
<tr><h4>ERROR:</h4></tr>
<?php
foreach ($messages as $message) {
    ?>
    <tr>
        <td><?= $message; ?></td>   
    </tr>

    <?php
}
?>
</table>
