table[data-index="information_labels"]{
    thead{
        tr{
            th:nth-child(1){
                width: 50%;
            }
            th:nth-child(1){
                width: 5%;
            }
        }
    }
}
