<?php
$_product = $block->getProduct();
$taxBlock= $block->getLayout()->createBlock('Commercers\PriceTax\Block\Price\Tax');
$taxPercent = $taxBlock->getTaxPercent($_product);
$shippingTime = $_product->getDeliveryTime();
?>
<div class="product-additional-info">
    <span class="tax-details">
        <span class="tax-text">
            <?= __('incl. tax, excl. <a target="_blank" href="/shipping">shipping cost</a>*', $taxPercent) ?>
        </span>
    </span>
    <span class="tax-ship">
        <span class="delivery-time">
        <?php if(!$shippingTime): ?>
            <?= __('Delivery Time: 2 – 3 Days*'); ?>
        <?php else:?>
            <?= __('Delivery Time: %1',$shippingTime);?>
        <?php endif;?>
        </span>
    </span>
</div>
