<?php

    $auctionData = $block->getAuctionDetail();
    $customerSession = $block->getCustomerSession();
    $aucConfig = $block->getAuctionConfiguration();
    $serializedAuctionData = $block->getHelperData()->jsonEncode($auctionData);

    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $mediaPath =  $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>

<?php if ($auctionData && count($auctionData) > 1 && $auctionData['auction_status']!=3): ?>
    <?php if ($auctionData['current_time_stamp'] >= $auctionData['stop_auction_time_stamp']): ?>
        <?php $aftComp = $block->getAuctionDetailAftetEnd($auctionData); ?>
        <?php if($aftComp['watting_user'] || !$aftComp['watting_user'] && !$aftComp['winner'] || $aftComp['winner'] && $aftComp['winner']['price']): ?>
            <div class="out-of-stock-label">
                <img src="<?= $mediaPath.'wysiwyg/labels/auction_ended_sold_out_items.png' ?>" alt="">
            </div>
        <?php endif; ?>
    <?php elseif ($auctionData['current_time_stamp'] < $auctionData['start_auction_time_stamp']): ?>
            <div class="out-of-stock-label">
                <img src="<?= $mediaPath.'wysiwyg/labels/upcoming_auctions.png' ?>" alt="">
            </div>
    <?php endif; ?>
<?php endif; ?>
