<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$attributeSet = $objectManager->create('Magento\Eav\Api\AttributeSetRepositoryInterface');
$attributeSetRepository = $attributeSet->get($product->getAttributeSetId());
$attribute_set_name = $attributeSetRepository->getAttributeSetName();
?>
<?php if($attribute_set_name == "Drinks"): ?>
    <div class="product-drinks-info">
        <?php if($product->getDescription()): ?>
            <div class="info">
                <div class="desc">
                    <h3 class="title"><?= __('Und, wie is?') ?></h3>
                    <?= $product->getDescription(); ?>
                </div>
            </div>
        <?php endif; ?>
        <?php if($product->getZutaten()): ?>
            <div class="info">
                <div class="desc">
                    <h3 class="title"><?= __('Zutaten') ?></h3>
                    <?= $product->getZutaten(); ?>
                </div>
            </div>
        <?php endif; ?>
        <?php if($product->getNahrBrennwert()): ?>
            <div class="info">
                <div class="desc">
                    <h3 class="title"><?= __('Nähr- & Brennwert') ?></h3>
                    <?= $product->getNahrBrennwert(); ?>
                </div>
            </div>
        <?php endif; ?>
    </div>
<?php endif; ?>
