<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$mediaPath =  $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>

<?php if(!$product->isAvailable()): ?>
    <div class="out-of-stock-label">
        <img src="<?= $mediaPath.'wysiwyg/labels/out_of_stock_general.png' ?>" alt="">
    </div>
<?php endif; ?>
