<?php
$routeName = '';
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$urlBase = $storeManager->getStore()->getBaseUrl();

$productId = $block->getProduct()->getId();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$categoryCurr = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
if($categoryCurr){
    $catCurr_id = $categoryCurr['entity_id'];
    $product = $objectManager->create('Magento\Catalog\Model\Product');
    $productt = $objectManager->create('Magento\Catalog\Model\Product');

    $category = $objectManager->create('Magento\Catalog\Model\Category')->load($catCurr_id);
    $category_product = $category->getProductCollection()->addAttributeToSort('created_at', 'desc');
    $category_product->addAttributeToFilter('status', 1);
    $category_product->addAttributeToFilter('visibility', 4);
    $cat_prod_ids = array_reverse($category_product->getAllIds());

    $_pos = array_search($productId, $cat_prod_ids); // get position of current product
    $_next_pos = $_pos + 1;
    $_prev_pos = $_pos - 1;
    $keys = array_keys($cat_prod_ids);

    if (in_array($_next_pos, $keys)) {
        $_next_prod = $product->load($cat_prod_ids[$_next_pos]);
    }
    if (in_array($_prev_pos, $keys)) {
        $_prev_prod = $productt->load($cat_prod_ids[$_prev_pos]);
    }
    $routeName = $block->getRequest()->getRouteName();
}

?>
<?php
if ($routeName == 'cartquickpro') {
?>
    <div class="previous_next">
        <?php if (in_array($_next_pos, $keys)) : ?>
            <a class="next-button" href="<?php print_r($urlBase . 'cartquickpro/catalog_product/view/id/' . $_next_prod->getEntityId()); ?>"><span><?= __('Previous product') ?></span></a>
        <?php endif; ?>

        <?php if (in_array($_prev_pos, $keys)) : ?>
            <a class="prev-button" href="<?php print_r($urlBase . 'cartquickpro/catalog_product/view/id/' . $_prev_prod->getEntityId()); ?>"><span><?= __('Next product') ?></span></a>

        <?php endif; ?>
    </div>
<?php
} else if ($routeName == 'catalog') {
?>
    <div class="previous_next">
        <?php if (in_array($_next_pos, $keys)) : ?>
            <a class="next-button" href="<?php print_r($_next_prod->getProductUrl()); ?>"><span><?= __('Previous product') ?></span></a>
        <?php endif; ?>

        <?php if (in_array($_prev_pos, $keys)) : ?>
            <a class="prev-button" href="<?php print_r($_prev_prod->getProductUrl()); ?>"><span><?= __('Next product') ?></span></a>

        <?php endif; ?>
    </div>
<?php
}
?>
