<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');

$attributeSet = $objectManager->create('Magento\Eav\Api\AttributeSetRepositoryInterface');
$storeManager = $objectManager->create('Magento\Store\Model\StoreManagerInterface');
$attributeSetRepository = $attributeSet->get($product->getAttributeSetId());
$attribute_set_name = $attributeSetRepository->getAttributeSetName();

$isAuctionType = false;
$auctionType = explode(',',$product->getAuctionType());
if(in_array(2,$auctionType)) {
    $isAuctionType = true;
}
?>
<div class="product-price-info <?php echo ($product->getAttributeSetId() == 10) ? 'drink' : '' ?>">
    <?php echo (!$isAuctionType)? $block->getChildHtml('product.info.price'): '';?>
    <?php echo $block->getChildHtml('product.info');?>
</div>
<?php
$dataLabels = json_decode($product->getInformationLabels());
if($dataLabels){
    $keys = array_column($dataLabels, 'position');
    array_multisort($keys, SORT_ASC, (array)$dataLabels);
    $x = 1;
    ?>
    <div class="product-information-label <?= ($attribute_set_name == "Drinks" ? 'drinks' : '')?>">
        <?php
        foreach ($dataLabels as $dataLabel){
            if($x <= 3) {
                $dataLabel = ((array)$dataLabel);
                $imageUrl = $storeManager->getStore()->getBaseUrl().'pub/media/label_image/fk_logo_text.jpg';
                if(isset($dataLabel["image"])){
                    $dataImage = get_object_vars($dataLabel["image"][0]) ;
                    $imageUrl = $dataImage["url"];
                }
                ?>
                <?php
                if($dataLabel["link"]){
                    ?>
                    <div class="label-element">
                        <a href="<?= $dataLabel["link"] ?>" target="_blank" alt="">
                            <div class="information-label-element">
                                <img class="image" src="<?= $imageUrl ?>" alt="">
                                <?php
                                if($dataLabel["label"]){
                                    ?>
                                    <div class="label">
                                        <p class="text-label"><?= $dataLabel["label"] ?></p>
                                    </div>
                                    <?php
                                }
                                ?>
                            </div>
                        </a>
                    </div>
                    <?php
                }else{
                    ?>
                    <div class="label-element">
                        <div class="information-label-element">
                            <img class="image" src="<?= $imageUrl ?>" alt="">
                            <?php
                            if($dataLabel["label"]){
                                ?>
                                <div class="label">
                                    <p class="text-label"><?= $dataLabel["label"] ?></p>
                                </div>
                                <?php
                            }
                            ?>
                        </div>
                    </div>
                    <?php
                }
                ?>
                <?php
                $x++;
            }
        }
        ?>
    </div>
    <?php
}
?>

