<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_Xsearch
 */
?>
<?php
/**
 * @var \Magento\Framework\View\Element\Template $block
 * @var \Amasty\Xsearch\ViewModel\FormMiniData $viewModel
 * @var \Magento\Framework\Escaper $escaper
 */

$viewModel = $block->getViewModel();
?>

<script>
    require([
        'Amasty_Xsearch/js/form-mini',
    ], function (autoComplete, searchClick) {
        'use strict';
        window.xsearch_options = <?= /* @noEscape */ $viewModel->getOptions() ?>;
    })
</script>

<script type="text/x-magento-init">
    {
        "*": {
            "amastyXsearchAnalyticsCollector": {}
        }
    }
</script>

<!--<div id="amasty-xsearch-preload" class="amasty-xsearch-preload" data-amsearch-js="preload"></div>-->
