<!--@subject {{trans "Stock Importing - Report"}}  @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr>
        <td>
            Message: {{var message}}
        </td>
    </tr>
 </table>
 
{{template config_path="design/email/footer_template"}}