.catalog-product-view{
    .product-information-label{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .label-element{
            width: 33%;
            .information-label-element{
                display: flex;
                align-items: center;
                padding-top: 20px;
                .label{
                    padding-left: 10px;
                }
                .image{
                    width: 99px;
                    height: 99px;
                }
            }
        }
    }
}
